#container {
    width: 100%; 
    background: #ffffff;
}

#nav {
    background-color: #577196;
    color: #FFFFFF;
    padding-top:8px;
    padding-bottom:8px;
    font-size:12px;
    margin-top:-3px;
}

#nav a{
    color:#FFFFFF;
}

span.navitem {
    padding-left:15px;
    font-weight:bold;
}

div.admin {
    font-weight:bold;
    text-align:right;
    padding-right:15px;
    float:right;
    font-size:12px;
    display:inline;
}


#content {
    margin:auto;
    background-color: #e5e5e5;
    background-image: url("/ui/img/bg_content.gif");
    background-position: center center;
    background-repeat: repeat-y;
}

#content .footer {
    background-image: url("/ui/img/bg_footer.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#content .spacer {
    height: 20px;
    background-color: #e5e5e5;
}

#wrapper {
    margin: auto;
    width: 840px;
    min-height: 500px;
}

#wrapper h4 {
    font-size: 14px;
    padding: 50px 0px 16px 0px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 30px;
}

span.error {
    color:red;
}


div.box {
    margin-bottom: 35px;
    width: 600px;
    font-size: 12px;
}

div.boxhead {
    background-color: #3D567A;
    color:white;
    font-weight:bold;
    padding:5px;
}

.boxhead .id {
    float: right;
    font-size: 11px
}

div.boxbody {
    padding: 6px 10px;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.boxbody .boxitem {
    font-family: 'Courier New', monospace;
    padding: 6px;
    letter-spacing: .3px;
}

#usgsfooter {
    padding-top: 0px;
}
