{% extends "base.html" %}

{% block title %} Enter New Order {% endblock %}
{% block header %} Enter New Order {% endblock %}
{% block style %}

	div#wrapper {
		margin:auto;
		width:800px;
	}

	span.error {
		color:red;
	}

{% endblock %}


{% block content %}
<form action="/new/" method="post" enctype="multipart/form-data"> {% csrf_token %}


<div id="wrapper">
    
    <h4>Submitting an ESPA Order</h4>
    <p>
            Submitting a new ESPA order is as simple as entering your email address 
            along with a file containing your scene list and pressing the submit button
            at the bottom of the page. For more information on creating a scene list file, 
            please refer to the 
            <a href="http://glovis.usgs.gov/ImgViewerHelp.shtml#SaveLoadSceneLists" target="blank">user guide instructions</a>
            on saving and loading scene lists for the 
            <a href="http://glovis.usgs.gov/" target="blank">USGS Global Visualization Viewer</a>.
   </p>
        
   <p>&nbsp;</p>

    {% if errors.email %}
    <span class="error">{{errors.email}}</span><br/>
    {% endif %}
    {% if errors.file %}
    <span class="error">{{errors.file}}</span><br/>
    {% endif %}
    {% if errors.scenes %}
    <span class="error">{{errors.scenes}}</span><br/>
    {% endif %}
    <div style="text-align:center;margin:0 auto;width:800px">
	<table style="text-align:left">
	    <tr>	
	        <td colspan=4><span style="margin-right:15px;">Enter your email address:</span><input size=40 type="text" name="email" id="id_email" /></td>
	    </tr>
	       <tr><td colspan=4>&nbsp;</td></tr>
	    <tr>
	        <td colspan=4><span style="margin-right:68px;">Choose scene list:</span><input type=file name="file" size="40"/></td>
	    </tr>
	    <tr><td colspan=4>&nbsp;</td></tr>
	    <tr><td colspan=4>Order Description (optional)</td></tr>
	    <tr><td colspan=4>&nbsp;</td></tr>
	    <tr>	
	        <td colspan=4>{{form.note|escape }}</td>
	    </tr>
	     <tr><td colspan=4>&nbsp;</td></tr>
	    <tr>
	        <td><input type="submit" value="Submit" />
	        </td>
	    </tr>
	</table>
    </div>

</div>

</form>

<div class="footer"></div>

<div class="spacer"></div>

{% endblock %}
