{% extends "base.html" %}

    {% block title %} New Bulk Order {% endblock %}
    {% block header %} New Bulk Order {% endblock %}
    
    {% block style %}
    
    body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
        padding: 10px 6px;
        letter-spacing: .3px;
    }
    
    .tooltip { border-bottom: 1px dotted #333; position: relative; cursor: pointer; margin-left:15px; }
    
    /*.tooltip:hover:after {
	content: attr(title);
	position: absolute;
	white-space: nowrap;
	background: rgba(0, 0, 0, 0.85);
	padding: 3px 7px;
	color: #FFF; border-radius: 3px; -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-left: 7px;
	margin-top: -3px;
	}
    */

	div#wrapper {
		margin:auto;
		width:800px;
		overflow:hidden;
	}

        div#errorbox{
	     margin:15px auto;
	     border:2px solid red;
	     width:750px;
             overflow:hidden;
	     color:red;
             font-size:16px;
             padding:15px;
	}
        
        div#errorbox h3 {
            border:none;
            padding-top:10px;
            padding-bottom:20px;
            padding-left:10px;
            padding-right:10px;
            margin:0px;
        }
        
        div#errorbox h4 {
            border:none;
            padding:0px;
            margin:0px;
        }
	
	
	div#errorbox td{
	    font-size:16px;
	    color:red;
	    padding:5px 25px;
	    
	}
	
	div.product_box {
	   width:650px;
           margin:15px auto;
           border:1px solid #d0d0d0;
           -moz-border-radius: 5px;
           -webkit-border-radius: 5px;
	   overflow:hidden; 
	}
	
	div.product_boxheader {
	   
           text-align:center;
           line-height:20px;
           font-size:14px;
           font-weight:bold;
           background:#577196;
           overflow:hidden;
           color:white;
	}
	
	div.product_boxbody {
            height:auto;
        }

        div.product_boxbody p {
          padding-left:10px;
          padding-right:10px;
        }
	
	div.product_boxbody label{
	    display:inline-block;	    
	}
	
	div.product_boxbody input{
	    display:inline-block;
	}
        
        div#order_description_productbox {
           text-align:center;
        }
        
        #order_description {
            width: 625px;
            height: 100px;
            margin-top: 10px;
            margin: 10px auto;
            align: center;
        }
        
        
	div.inputitem {
	    padding:5px;
	    text-align:left;
	}
        
        div.inputitem label{
            display:inline;
        }
	
	div#resize_options, div#reprojection, div#scene_extents {
	    display:none;
	    visibility:hidden;
	    height:auto;
	    /*border:1px solid red;*/
	    margin:10px auto;
	    padding:10px;
	    width:85%;
	   
	    border:1px solid #d0d0d0;
           -moz-border-radius: 5px;
           -webkit-border-radius: 5px;
	}
	
	div#resample_options {
	    display:none;
	    visibility:hidden;
	    height:auto;
	    padding-top:20px;
	    padding-bottom:20px;
	    text-align:left;
	}
	
	input#submit {
	    display:block;
	    clear:both;
	    margin:20px auto;
	}
	
	input#email {
	    margin-left:10px;
	    width:255px;
	    
	}
	
	input#scenelist {
	    margin-left:40px;
	}
	
	div#projection_parameters {
	    padding:10px;
	    height:auto;
	    display:none;
	    visibility:hidden;
	}
	
	.projection_params_txt {
	    width:125px;
	    margin-right:10px;
	}
	
	.projection_params_select {
	    margin-right:39px;
	    width:100px;
	}
	
	#utm_zone_label {
	    padding-right:10px;
	}
    {% endblock %}

    {% block nav %}{% include "bulk_ordering_nav.html" %}{% endblock %}

    {% block content %}
    <form action="/new/" method="post" id="request_form" name="request_form" enctype="multipart/form-data"> {% csrf_token %}
    
    <div id="wrapper">
    {% if system_message %}
        <div style="vertical-align:middle;border:4px solid red; margin-top:20px;padding:15px 10px 15px 10px;font-color:red;font-size:18px;">{{system_message}}</div>
    {% endif %}
    
    <h4>Submitting an order</h4>
    <p>
            Submitting a new order is as simple as entering your email address 
            along with a file containing your scene list and pressing the submit button
            at the bottom of the page. For more information on creating a scene list file, 
            please refer to the 
            <a href="http://glovis.usgs.gov/ImgViewerHelp.shtml#SaveLoadSceneLists" target="blank">user guide instructions</a>
            on saving and loading scene lists for the 
            <a href="http://glovis.usgs.gov/" target="blank">USGS Global Visualization Viewer</a>.
   </p>
    
    {% if errors.email or errors.file or errors.scenes or errors.product_options%}
    <div id="errorbox">
    <h3>Errors were found in your request.&nbsp;&nbsp;Please correct them and retry your order.</h3>
    {% endif %}
    {% if errors.email %}
    <h4>{{errors.email}}</h4>
    {% endif %}
    {% if errors.file %}
    <h4>{{errors.file}}</h4>
    {% endif %}
    {% if errors.scenes %}
    {% for err_scene in errors.scenes %}
    <h4>{{err_scene}}</h4>
    {% endfor %}
    {% endif %}
    {% if errors.product_options %}
    {% for err_po in errors.product_options %}
    <h4>{{err_po}}</h4>
    {% endfor %}
    {% endif %}
    {% if errors.email or errors.file or errors.scenes or errors.product_options %}
    </div>
    {% endif %}
    
    <br/>
    
	
	<div class='inputitem'
	    <label for='email'>Email address:</label>
	    <input type='email' id='email' name='email' placeholder='user@domain.com'>
	</div>
	
	
	<div class='inputitem'>
	    <label for='scenelist'>Scene list:</label>
	    <input type='file' id='scenelist' name='scenelist'>
	</div>
	
	<h4>Select Product Contents</h4>
	
	<div class='product_box'>
	    <div class='product_boxheader'>
		Source Products
	    </div>
	    <div class='product_boxbody'>
		
		<div class='inputitem'>
		    <input type='checkbox' name='include_sourcefile'>
		    <label class='tooltip' title='Level 1 (T/G) Product' for="source_products">Source Products</label>
		</div>
		
		<div class='inputitem'>
		    <input type='checkbox' name='include_source_metadata'>
		    <label class='tooltip' title="Level 1 (T/G) Product Metadata">Source Metadata</label>
		</div>
		
	    </div>
	</div>
	
	<div class='product_box'>
	    <div class='product_boxheader'>
		Climate Data Records
	    </div>
	    <div class='product_boxbody'>
		
		<div class='inputitem'>
		    <input type='checkbox' name='include_sr_toa'></input>
		    <label class='tooltip' title="LEDAPS Top of Atmosphere Reflectance " for="toa_reflectance">Top of Atmosphere Reflectance</label>
		</div>
		
		<div class='inputitem'>
		    <input type='checkbox' name='include_sr'></input>
		    <label class='tooltip' title="LEDAPS Surface Reflectance" for="surface_reflectance">Surface Reflectance</label>
		</div>
		
		<div class='inputitem'>
		    <input type='checkbox' name='include_sr_thermal'></input>
		    <label class='tooltip' title="LEDAPS Thermal Band 6" for="sr_thermal">Band 6 Brightness Temperature</label>
		</div>
	    </div>
	</div>
        
        <div style='{{ optionstyle }}' class='product_box'>
	    <div class='product_boxheader'>
		Essential Climate Variables
	    </div>
	    <div class='product_boxbody'>
		<div class='inputitem'>
		    <input type='checkbox' name='include_sca'></input>
		    <label class='tooltip' title='Snow Covered Area' for="include_sca">Snow Covered Area</label>
		</div>
                <div class='inputitem'>
		    <input type='checkbox' name='include_swe'></input>
		    <label class='tooltip' title='Surface Water Extent' for="include_swe">Surface Water Extent</label>
		</div>
	    </div>
	</div>
	
	<div class='product_box'>
	    <div class='product_boxheader'>
		Spectral Indices
	    </div>
	    <div class='product_boxbody'>
		
		<div class='inputitem'>
		    <input type='checkbox' name='include_sr_ndvi'></input>
		    <label class='tooltip' title='Normalized Difference Vegetation Index' for="include_sr_ndvi">Surface Reflectance NDVI</label>
		</div>
		
		<div class='inputitem'>
		    <input type='checkbox' name='include_sr_ndmi'></input>
		    <label class='tooltip' title='Normalized Difference Moisture Index' for="include_sr_ndmi">Surface Reflectance NDMI</label>
		</div>
		
		<div class='inputitem'>
		    <input type='checkbox' name='include_sr_nbr'></input>
		    <label class='tooltip' title='Normalized Burn Ratio using bands 4 &amp; 7' for="include_sr_nbr">Surface Reflectance NBR</label>
		</div>
		
		<div class='inputitem'>
		    <input type='checkbox' name='include_sr_nbr2'></input>
		    <label class='tooltip' title='Normalized Burn Ratio using bands 5 &amp; 7' for="include_sr_nbr2">Surface Reflectance NBR2</label>
		</div>
		
		<div class='inputitem'>
		    <input type='checkbox' name='include_sr_savi'></input>
		    <label class='tooltip' title='Soil Adjusted Vegetation Index' for="include_sr_savi">Surface Reflectance SAVI</label>
		</div>
                
                <div class='inputitem'>
		    <input type='checkbox' name='include_sr_msavi'></input>
		    <label class='tooltip' title='Modified Soil Adjusted Vegetation Index' for="include_sr_msavi">Surface Reflectance MSAVI</label>
		</div>
		
		<div class='inputitem'>
		    <input type='checkbox' name='include_sr_evi'></input>
		    <label class='tooltip' title="Enhanced Vegetation Index" for="include_sr_evi">Surface Reflectance EVI</label>
		</div>
		
	    </div>
	</div>
	
	
	
	<div class='product_box'>
	    <div class='product_boxheader'>
		Product Customization
	    </div>
	    <div class='product_boxbody'>
		
		
		<div class='inputitem'>
		    <input type='checkbox' id='reproject' name='reproject' onclick=handle_inputitem_click('reprojection');handle_projection_selection()>
		    <label class='tooltip' title='Specify custom image projection for output products' for="reproject">Reproject Products</label>
		    <div id='reprojection'>
			<label for='projection'>Projection:</label>
                        <input type='hidden' id='target_projection' name='target_projection' />
			<select id='select_target_projection' form='request_form' onchange=handle_projection_selection();>
			    <option value='lonlat'>Geographic</option>
                            <option value='aea'>Albers Equal Area</option>
			    <option value='sinu'>Sinusoidal</option>
			    <option value='utm'>Universal Transverse Mercator</option>
			</select>
			<div id='projection_parameters'>
			</div>
		    </div>
		</div>
		
		<div class='inputitem'>
		    <input type='checkbox' id='image_extents' name='image_extents' onclick=handle_inputitem_click('scene_extents');>
		    <label class='tooltip' title='Enter user defined extents for output products    (minimum X,Y maximum X,Y in meters or decimal degrees)' for="include_solr_index">Modify Image Extents</label>
		
		    <div id='scene_extents'>
			
		        <div class='inputitem'>
			    <input type="text" id="minx" name="minx" />
			    <label for="minx">Upper left X coordinate</label>
		        </div>
			
			<div class='inputitem'>
			    <input type="text" id="maxy" name="maxy" />
			    <label for="maxy">Upper left Y coordinate</label>
		        </div>
			
		        <div class='inputitem'>
			    <input type="text" id="maxx" name="maxx" />
			    <label for="maxx">Lower right X coordinate</label>
		        </div>
			
			<div class='inputitem'>
			    <input type="text" id="miny" name="miny" />
			    <label for="miny">Lower right Y coordinate</label>
		        </div>
		    
		    </div>
		</div>
		
		<div class='inputitem'>
		    <input type='checkbox' id='resize' name='resize' onclick=handle_inputitem_click('resize_options');display_pixelsize_placeholder()>
		    <label class='tooltip inline' title='Specify desired pixel size' for="resize">Pixel Resizing</label>
		    <div id='resize_options'>
			<input placeholder="30 to 1000" type="text" name="pixel_size" id="pixel_size" />
                        <input type='hidden' id='pixel_size_units' name='pixel_size_units' />
  		        <select id="select_pixel_size_units" form='request_form' onchange="display_pixelsize_placeholder();">
                            <option value="meters">Meters</option>
                            <option value="dd">Decimal Degrees</option>
                        </select>			
		    </div>
		</div>
		
		<div id="resample_options">
		    <label class='tooltip' title='Select method for resampling' for="resample_method">Resample Method:</label>
		    <input id="resample_method" name="resample_method" type="hidden" />
                    <select id="select_resample_method" form='request_form' onchange="$('#resample_method').val($('#select_resample_method option:selected').val());">
			<option value='near'>Nearest Neighbor</option>
			<option value='bilinear'>Bilinear Interpolation</option>
			<option value='cubic'>Cubic Convolution</option>
		    </select>
		</div>
	    </div>
	</div>
	
        <div class='product_box'>
	    <div class='product_boxheader'>
		Order Description (optional)
	    </div>
	    <div class='product_boxbody' id="order_description_productbox">
		<textarea id='order_description' name='order_description'></textarea>
            </div>
        </div>
        
        <input type="submit" id="submit" value="Submit" />

</div>
</form>

<div class="footer"></div>
<div class="spacer"></div>

{% endblock %}
    
{% block scripts %}          
      /* Simple function to show an element */
      function show_item(element_id) {
	var elem = document.getElementById(element_id);
	
	if (elem.nodeName == 'SPAN') {
		elem.style.display = 'inline';
	}
	else {
		elem.style.display = 'block';
	}
	    
	elem.style.visibility = 'visible';
	return elem;
      }
      
      /* Simple function to hide an element */
      function hide_item(element_id) {
	var elem = document.getElementById(element_id);
	elem.style.display = 'none';
	elem.style.visibility= 'hidden';
	return elem;
      }
    
      /* Returns true if an element is visible, false if not */
      function isVisible(element_id) {
	return document.getElementById(element_id).style.visibility == 'visible';
      }
      
      /* Toggles an element between visibile and hidden */
      function show_hide(element_id) {
	var elem = document.getElementById(element_id);    
	
	if (isVisible(element_id)) {
	    hide_item(element_id);
	}
	else {
	    show_item(element_id);
	}
	return elem;
      }
      
            
      /* Top level input item click handler.  Handles hiding/displaying an item
        and also ensures the 'resample' option is selected if the user
        chooses an option that needs resampling. */
      
      function handle_inputitem_click(element_id) {
	show_hide(element_id);
	
	//see if we need to select the resample options
	if (isVisible(element_id) && (element_id == 'resize_options' || element_id == 'reprojection')) {
	    //look to see if 'resample' is already selected.  If not, display it
	    if (! isVisible('resample_options')) {
	        show_item('resample_options');	
	    }
	   
	}
	
	//since this item was deselected, check to see if there is anything
	//else that needs the 'resample_options' displayed.  If not, hide it.
	if (! isVisible(element_id)
	    && (element_id == 'resize_options' || element_id == 'reprojection')
	    && ((! isVisible('resize_options') && (! isVisible('reprojection'))))) {
	    
	    hide_item('resample_options');
	}
	
	if (element_id == 'reprojection' && isVisible('reprojection')) {
	    handle_projection_selection();
	}
      }
      
      /* Constructs html to be displayed when albers is selected as a projection */
      function build_albers_options() {
	  var html = "";
	  html += "<div class='inputitem'>";
	  html += "<input value='40.0' placeholder='40.0' class='projection_params_txt' type='text' id='origin_lat' name='origin_lat'>";
	  html += "<label for='origin_lat'>Latitude of Origin</label>";
	  html += "</div>";
	 
	  html += "<div class='inputitem'>";
	  html += "<input value='-96.0' placeholder='-96.0' class='projection_params_txt' type='text' id='central_meridian' name='central_meridian'>";
	  html += "<label for='central_meridian'>Central Meridian</label>";
	  html += "</div>";
	  
	  html += "<div class='inputitem'>";
	  html += "<input class='projection_params_txt' type='text' id='std_parallel_1' name='std_parallel_1' placeholder='20.0' value='20.0'>";
	  html += "<label for='std_parallel_1'>1st Standard Parallel</label>";
	  html += "</div>";
	  
	  html += "<div class='inputitem'>";
	  html += "<input class='projection_params_txt' type='text' id='std_parallel_2' name='std_parallel_2' placeholder='60.0' value='60.0'>";
	  html += "<label for='std_parallel_2'>2nd Standard Parallel</label>";
	  html += "</div>";
	  
	  html += "<div class='inputitem'>";
	  html += "<input class='projection_params_txt' type='text' id='false_easting' name='false_easting' placeholder='0.0' value='0.0'>";
	  html += "<label for='false_easting'>False Easting</label>";
	  html += "</div>";
	  	  
	  html += "<div class='inputitem'>";
	  html += "<input class='projection_params_txt' type='text' id='false_northing' name='false_northing' placeholder='0.0' value='0.0'>";
	  html += "<label for='false_northing'>False Northing</label>";
	  html += "</div>";
	  
	  html += "<div class='inputitem'>";
          html += "<input type='hidden' id='datum' name='datum' />";
	  html += "<select class='projection_params_select' form='request_form' id='select_datum' onchange=update_datum();>";
	  html += "<option value='wgs84'>WGS 84</option>";
          html += "<option value='nad27'>NAD 27</option>";
	  html += "<option value='nad83'>NAD 83</option>";
	  html += "</select>";
	  
	  html += "<label for='datum'>Datum</label>";
	  html += "</div>";
	  
	  return html;	
      }
      
      /* Constructs html to be displayed when sinusoidal is selected as a projection */
      function build_sinusoidal_options() {
          var html = "";
	  html += "<div class='inputitem'>";
	  html += "<input class='projection_params_txt' type='text' id='central_meridian' name='central_meridian' value='0.0' placeholder='0.0'>";
	  html += "<label for='central_meridian'>Central Meridian</label>";
	  html += "</div>";
	  
	  html += "<div class='inputitem'>";
	  html += "<input class='projection_params_txt' type='text' id='false_easting' name='false_easting' value='0.0' placeholder='0.0'>";
	  html += "<label for='false_easting'>False Easting</label>";
	  html += "</div>";
	  	  
	  html += "<div class='inputitem'>";
	  html += "<input class='projection_params_txt' type='text' id='false_northing' name='false_northing' value='0.0' placeholder='0.0'>";
	  html += "<label for='false_northing'>False Northing</label>";
	  html += "</div>";
	  
	  return html;
	  
	
      }
      
      /* Constructs html to be displayed when utm is selected as a projection */
      function build_utm_options() {
	  var html = "";
	  html += "<div class='inputitem'>";
	  html += "<label id='utm_zone_label' for='utm_zone'>UTM Zone</label>";
	  html += "<input class='projection_params_txt' type='text' name='utm_zone' id='utm_zone' placeholder='1-60' />";
          html += "<input type='hidden' id='utm_north_south' name='utm_north_south' />";
	  html += "<select class='projection_params_select' form='request_form' id='select_utm_north_south' onchange=update_utm_params();>";
	  html += "<option value='north'>North</option>";
	  html += "<option value='south'>South</option>";
	  html += "</select>";
	  html += "</div>";
	  	  
	  return html;
	  
      }
      
            
      /* Event listener for the projetion selection box */
      function handle_projection_selection() {
	var html = "";
	switch( $('#select_target_projection').val() ) {
	    case "aea":
                $('#projection_parameters').html(build_albers_options());
		$('#projection_parameters').css("display", "block");
	        $('#projection_parameters').css("visibility", "visible");
                $('#target_projection').val("aea");
                update_datum(); 
		break;
	    case "sinu":
                $('#projection_parameters').html(build_sinusoidal_options());
		$('#projection_parameters').css("display", "block");
	        $('#projection_parameters').css("visibility", "visible");
                $('#target_projection').val("sinu");
		break;
	    case "utm":
                $('#projection_parameters').html(build_utm_options());
		$('#projection_parameters').css("display", "block");
	        $('#projection_parameters').css("visibility", "visible");
                $('#target_projection').val("utm");
                update_utm_params();
                break;
	    case "lonlat":
		html = "";
                $('#projection_parameters').html(html);
		$('#projection_parameters').css("display", "none");
	        $('#projection_parameters').css("visibility", "hidden");
                $('#target_projection').val("lonlat");
		break;
	}
	
       }
       
       /*Simply changes the placeholder value in the pixel size input field
        depending on what is selected */
       function display_pixelsize_placeholder() {
	var psval = "";
	if ($('#select_pixel_size_units option:selected').val() == 'dd') {
          psval = ".0002695 to .0089831";
	}
	else {
	  psval = "30 to 1000";
	}
        
        /* Populate the hidden input field */
        $('#pixel_size_units').val($('#select_pixel_size_units option:selected').val())
	
	$('#pixel_size').attr('placeholder', psval);
       }
       
       
       function update_utm_params() {
           $('#utm_north_south').val($('#select_utm_north_south option:selected').val());
       }
       
       function update_datum() {
           $('#datum').val($('#select_datum option:selected').val());
       }
      
    
    {% endblock %}



