 
<div id="nav">
           <!--<span class="navitem"><a href="/index">Home</a></span>-->
           <span class="navitem"><a href="{% url 'index' %}">Home</a></span>
		<span class="navitem">|</span>
                <span class="navitem"><a href="http://landsat.usgs.gov/CDR_ECV.php">Product Information</a></span>
		<span class="navitem">|</span>
		<!--<span class="navitem"><a href="/ordering/new">New Order</a></span>-->
           <span class="navitem"><a href="{% url 'new_order' %}">New Order</a></span>
		<span class="navitem">|</span>
		<!--<span class="navitem"><a href="/ordering/status">Show Orders</a></span>-->
           <span class="navitem"><a href="{% url 'listorders_form' %}">Show Orders</a></span>		
 </div>		
