{% extends "base.html" %}

{% block title %} Bulk Order Status {% endblock %}
{% block header %}Bulk Order Status {% endblock %}
{% block style %}

	span.error {
		color:red;
	}

    div.boxbody {
        border:none;
        width:500px;
        margin:0 auto;    
    }

{% endblock %}

{% block nav %}{% include "bulk_ordering_nav.html" %}{% endblock %}

{% block content %}
<!--<form action="/status/" method="post"> {% csrf_token %}-->
<div id="wrapper">

{% if display_system_message %}
    {% include "system_message.html" %}
{% endif %}

    <h4>Please enter the email address used to submit the order</h4>

    <div class='boxbody'>
        
    {% if errors.email %}
    <span class="error">{{errors.email}}</span><br/>
    {% endif %}
    
    <label for="id_email">Email address:</label>
    {{form.email}}
    
        
    
	<!--<input type="submit" value="Submit"' />-->
	<input type="button" value="Submit" onclick='switchUrl();' />
   
    </div>

</div>

<!--</form>-->

<div class="footer"></div>

<div class="spacer"></div>


<script type='text/javascript'>
 function switchUrl() {
    var email_addr = document.getElementById('id_email');
    window.location = window.location + email_addr.value;
    return false;
 }
</script>
{% endblock %}
