ul { 
   list-style-type: disc; 
   list-style-position: inside; 
}
ol { 
   list-style-type: decimal; 
   list-style-position: inside; 
}
ul ul, ol ul { 
   list-style-type: circle; 
   list-style-position: inside; 
   margin-left: 15px; 
}
ol ol, ul ol { 
   list-style-type: lower-latin; 
   list-style-position: inside; 
   margin-left: 15px; 
}

table   { display: table; 
          width:100%;
          border:2px solid #d0d0d0;
}

tr {
    display: table-row;
}

thead {
    display: table-header-group; 
}

tbody {
    display: table-row-group; 
}

tfoot {
    display: table-footer-group;
}

col {
    display: table-column;
}

colgroup {
    display: table-column-group;
}

td, th {
    display: table-cell;
    border:1px solid #d0d0d0;
}

caption {
    display: table-caption;
    padding:8px 5px;
}

th {
    font-weight: bolder;
    text-align: left;
    padding:5px 5px;
}

td {
    padding:8px 5px;
}

h1 {
    font-size:20px;
    margin:10px 0px;
}

h2 {
    font-size: 18px;
    margin: 10px 0px;
}

h3 {
    font-size:16px;
    margin:10px 0px;
}

h4 {
    font-size:14px;
    margin:10px 0px;
}

h5 {
    font-size:12px;
    margin:10px 0px;
}

.error {
    color:red;
}

.noborder {
    border: none;
}

.espa_lightbox {
     display:none;
     visibility:hidden;
     margin:0 auto;
     margin-top:20px;
     width:600px;
     background-color:white;
     padding:20px;
     border:5px solid #577196;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
	overflow:hidden; 
}

.tooltip { 
    border-bottom: 1px dotted #333; 
    position: relative;
    cursor: pointer; 
    margin-left:15px; 
}

.space10 {
    margin:5px 0px;
}

.space20 {
    margin:10px 0px;
}

.space30 {
    margin:15px 0px;
}

.space40 {
    margin:20px 0px;
}

.space50 {
    margin:25px 0px;
}

.space60 {
    margin:30px 0px;
}

.space70 {
    margin:35px 0px;
}

.space80 {
    margin:40px 0px;
}

.topspace10 {
    margin-top:10px;
}

.topspace20 {
    margin-top:20px;
}

.topspace30 {
    margin-top:30px;
}

.topspace40 {
    margin-top:40px;
}

.topspace50 {
    margin-top:50px;
}

.topspace60 {
    margin-top:60px;
}

.topspace70 {
    margin-top:70px;
}

.topspace80 {
    margin-top:80px;
}

.bottomspace10 {
    margin-bottom:10px;
}

.bottomspace20 {
    margin-bottom:20px;
}

.bottomspace30 {
    margin-bottom:30px;
}

.bottomspace40 {
    margin-bottom:40px;
}

.bottomspace50 {
    margin-bottom:50px;
}

.bottomspace60 {
    margin-bottom:60px;
}

.bottomspace70 {
    margin-bottom:70px;
}

.bottomspace80 {
    margin-bottom:80px;
}

.inlineb {
    display:inline-block;
    width:100%;
}

.container {
    width: 100%; 
    background: #ffffff;
}

.wrapper {
    min-height:650px;
    margin:auto;
    width:800px;
    overflow:hidden;
}

#nav {
    background-color: #577196;
    color: #FFFFFF;
    padding-top:8px;
    padding-bottom:8px;
    font-size:12px;
    margin-top:-3px;
    overflow:auto;
    line-height:20px;
}

#nav a{
    color:#FFFFFF;
}

span.navitemleft {
    padding-left:15px;
    font-weight:bold;
    line-height:20px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    float:left;
}

span.navitemright {
    float:right;
    padding-right:15px;
    line-height:20px;
    font-weight:bold;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

div.admin {
    font-weight:bold;
    text-align:right;
    padding-right:15px;
    float:right;
    font-size:12px;
    display:inline;
}


#content {
    margin:auto;
    background-color: #e5e5e5;
    background-image: url("/static/img/bg_content.gif");
    background-position: center center;
    background-repeat: repeat-y;
}

#content .footer {
    background-image: url("/static/img/bg_footer.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#content .spacer {
    height: 20px;
    background-color: #e5e5e5;
}

div.box {
    margin-bottom: 35px;
    width: 600px;
    font-size: 12px;
}

div.boxhead {
    background-color: #3D567A;
    color:white;
    font-weight:bold;
    padding:5px;
}

.boxhead .id {
    float: right;
    font-size: 11px
}

div.boxbody {
    padding: 6px 10px;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.boxbody .boxitem {
    font-family: 'Courier New', monospace;
    padding: 6px;
    letter-spacing: .3px;
}

#usgsfooter {
    padding-top: 0px;
}

