{% extends "base.html" %}

{% block title %} Bulk Order Status {% endblock %}
{% block header %}Bulk Order Status {% endblock %}
{% block style %}

	span.error {
		color:red;
	}

{% endblock %}

{% block nav %}{% include "bulk_ordering_nav.html" %}{% endblock %}

{% block content %}
<!--<form action="/status/" method="post"> {% csrf_token %}-->
<div id="wrapper">
    
    <h4>Show Orders</h4>
    <p>
            Please enter the email address used to submit the order.
   </p>
        
    {% if errors.email %}
    <span class="error">{{errors.email}}</span><br/>
    {% endif %}
    <p>
    <label for="id_email">Email address:</label>
    {{form.email}}
    </p>
        
    <p>
	<!--<input type="submit" value="Submit"' />-->
	<input type="button" value="Submit" onclick='switchUrl();' />
    </p>

</div>

<!--</form>-->

<div class="footer"></div>

<div class="spacer"></div>


<script type='text/javascript'>
 function switchUrl() {
    var email_addr = document.getElementById('id_email');
    window.location = window.location + email_addr.value;
    return false;
 }
</script>
{% endblock %}
