{% extends "ordering/base.html" %}

    {% block title %} LSRD Software Downloads {% endblock %}
    {% block header %} LSRD Software Downloads {% endblock %}
    
    {% block style %}

    table {
        width:80%;
        margin-bottom:40px;                
    }

    th, td {
        padding:5px;
    }

  
    div#product_wrapper {
        width:70%;
        margin-left auto;
        margin-right: auto;
        margin-top:0px;
        margin-bottom:0px;
        
    }
    
    {% endblock %}

    {% block nav %}{% include "ordering/bulk_ordering_nav.html" %}{% endblock %}

    {% block content %}
    {% csrf_token %}
    
    <div class="wrapper">

    <div id="product_wrapper">    
    
    {% if sections %}

        {% for s in sections %}

            <h4>{{ s.title }}</h4>

            <p>{{ s.text }}</p>

                {% for item in s.download_set.all %}
                    {% if item.visible %}
                        <span>{{ item.target_name }}</span>
                        <span> --- </span>
                        <span>{{ item.target_url }}<br/><br/>
                    {% endif %}
                {% endfor %}

        {% endfor %}
    {% else %}
        <h4>No sections found</h4>
    {% endif %}

    <!--
    <h4>Current Version</h4>
    <table>
        <tr>
            <td>CFMask</td>
            <td><a href="#">readme.txt</a></td>
            <td><a href="#">checksum.md5</a></td>
        </tr>
        <tr>
            <td>LEDAPS</td>
            <td><a href="#">readme.txt</a></td>
            <td><a href="#">checksum.md5</a></td>
        </tr>
        <tr>
            <td>Spectral Indices</td>
            <td><a href="#">readme.txt</a></td>
            <td><a href="#">checksum.md5</a></td>
        </tr>
        <tr>
            <td>Format Conversion</td>
            <td><a href="#">readme.txt</a></td>
            <td><a href="#">checksum.md5</a></td>
        </tr>
        <tr>
            <td>Burned Area</td>
            <td><a href="#">readme.txt</a></td>
            <td><a href="#">checksum.md5</a></td>
        </tr>
        
    </table>

    <h4>Previous Versions</h4>
    <table>
        <tr>
            <td>CFMask</td>
            <td><a href="#">readme.txt</a></td>
            <td><a href="#">checksum.md5</a></td>
        </tr>
        <tr>
            <td>LEDAPS</td>
            <td><a href="#">readme.txt</a></td>
            <td><a href="#">checksum.md5</a></td>
        </tr>
        <tr>
            <td>Spectral Indices</td>
            <td><a href="#">readme.txt</a></td>
            <td><a href="#">checksum.md5</a></td>
        </tr>
        <tr>
            <td>Format Conversion</td>
            <td><a href="#">readme.txt</a></td>
            <td><a href="#">checksum.md5</a></td>
        </tr>
        <tr>
            <td>Burned Area</td>
            <td><a href="#">readme.txt</a></td>
            <td><a href="#">checksum.md5</a></td>
        </tr>
        
    </table> -->
    </div>

  

    </div>   


<div class="footer"></div>
<div class="spacer"></div>



{% endblock %}
    
{% block scripts %}
    $(document).ready(function(){

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        /**********************************************************************
            Clear the output window
        **********************************************************************/
       $("#clear").click(function(item) {
           $("#output").html("");
       });


        /**********************************************************************
            Test POST Ajax calls
        **********************************************************************/
        $("#submit_post").click(function(item) {

            var csrftoken = $.cookie('csrftoken');

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    console.log("Setting type:" + settings.type);
                    console.log("csrfSafe:" + csrfSafeMethod(settings.type));

                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            requestdata = {};
            requestdata['name'] = $("#name").val();
 
            //console.log("Request data:" + JSON.stringify(requestdata, null, 4));

            var jqxhr = $.post("{% url 'ajax' %}",
                              requestdata,
                              function(response) {

                                  //console.log("Response data:" + JSON.stringify(response, null, 4));

                                  var resp = "====== Server Response [status:" + response.status + "] ======\n"
                                  resp = resp + "    User: " + response.user + "\n";
                                  resp = resp + "    Name: " + response.name + "\n";

                                  var output = $("#output").val();
                                  if (output.length > 0) {
                                      output = output + "\n";
                                  }
                                  output = output + resp;

                                  $("#output").html(output);
                                  //console.log( "Load was performed." );
                              });
                             

        });


        /**********************************************************************
            Test GET Ajax calls
        **********************************************************************/
        $("#submit_get").click(function(item) {

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            requestdata = {};
            requestdata['name'] = $("#name").val();
 
            //console.log("Request data:" + JSON.stringify(requestdata, null, 4));

            var jqxhr = $.get("{% url 'ajax' %}",
                              requestdata,
                              function(response) {
                                  //console.log("Response data:" + JSON.stringify(response, null, 4));
                                  var resp = "====== Server Response [status:" + response.status + "] ======\n"
                                  resp = resp + "    User: " + response.user + "\n";
                                  resp = resp + "    Name: " + response.name + "\n";

                                  var output = $("#output").val();
                                  if (output.length > 0) {
                                      output = output + "\n";
                                  }
                                  output = output + resp;

                                  $("#output").html(output);
                                  //console.log( "Load was performed." );
                              });
                             

        });


        /*
        $("#submit2").click(function(item) {
        
           var name = $("#name").val();
           
           if (name != undefined && name.length > 0) {
               $.cookie("name", name, { expires: 7 });
               $("#output").val(name);
           }
           else {
               $("#output").val($.cookie("name"));
           }
           
        });
        */


    });

{% endblock %}
       
       
   
    



