{% extends "ordering/base.html" %}
{% load static %}

{% load cache %}
{% cache 60 index_html_1 %}

{% block title %}LSRD{% endblock %}
{% block header %}Land Science Research and Development (LSRD){% endblock %}
{% block style %}

	
    h4#lsrd_offerings {
       clear:both;
    }

	
    div.marketing_box {
       width:29%;
       margin:0 auto;
       float:left;
       margin:10px;
       border:1px solid #d0d0d0;
       clear:right;
       -moz-border-radius: 5px;
       -webkit-border-radius: 5px;
    }

    div.marketing_header{
       width:100%;
       text-align:center;
       font-size:14px;
       font-weight:bold;
       background:#577196;
       overflow:hidden;
       color:white;
    }

    div.marketing_header p {
        line-height:36px;
        font-size:14px;
    }

    div.marketing_footer p {
        line-height:36px;
        font-size:14px;
    }

    div.marketing_footer {
       text-align: center;
       line-height: 30px;
       font-size: 14px;
       color:white;
       background:#577196;
       overflow:hidden;
    }

    div.marketing_footer a{
        color:white;
        font-weight:bold;
    }

 
    div.marketing_content {
        width:100%;
        text-align:left;
        border-top:1px solid #d0d0d0;
        border-bottom:1px solid #d0d0d0;
        height:250px;
        overflow:hidden; 
    }

    div.marketing_content p{
        padding-left:10px;
        padding-right:10px;
    }

    div#opensource_box {
        margin-top:45px;
        margin-right:60px;
        padding:10px;
        width:400px;
        border:7px solid #577196;
        overflow:hidden;
        float:right;
    }

    div#opensource_box h3 {
        text-align:center;
        margin-top:10px;
    }

    div#logo_box {
        margin-top:10px;
        padding:10px;
        width:270px;
        height:200px;
        overflow:hidden;
        float:left;
    }

    div#logo_box img {
        width:250px;
        height:200px;
        margin:0 auto;
        margin-left: 10px;
        text-align:center;
        /*box-shadow:10px 10px 5px #888888;*/
    }

    .coming_soon {
        color:yellow;
        font-weight:bold;
     }

     .shadow {
        -moz-box-shadow: 10px 10px 5px #888888;
        -webkit-box-shadow: 10px 10px 5px #888888;
        box-shadow: 10px 10px 5px #888888;
        /* For IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#888888')";
        /* For IE 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#888888');
    }

{% endblock %}
{% endcache %}

{% block nav %}{% include "ordering/bulk_ordering_nav.html" %}{% endblock %}

{% cache 60 index_html_2 %}

{% block content %}

<div class="wrapper">
{% if display_system_message %}
    {% include "ordering/system_message.html" %}
{% endif %}

	<div id="logo_box">
          <img class='shadow' src="{% static 'img/big_lizards.jpg' %}" />
      </div> 

	<div id="opensource_box">
            <h3>Did you know?</h3>
            <p>All LSRD software is freely available and licensed under the NASA Open Source Agreement.</p>
            <p style="text-align:center" ><a href="https://code.google.com/p/espa/">Go there now</a></p>
          
      </div>

      
      <h3 class="inlineb topspace30 bottomspace20" id="lsrd_offerings">Current Offerings</h3>
        
        <div class="marketing_box">
          <div class="marketing_header" id="bulk_ordering">
           <p>Bulk Ordering</p>
          </div>
          <div class="marketing_content">
            <p>Bulk ordering allows a list of Landsat scenes to be submitted for additional processing beyond what is available through the standard Landsat Level 1 processing.  
            </p>
            <p>This is the primary mechanism to gain access to LSRD's provisional and prototype data products.</p>
         
          </div>

         <div class="marketing_footer">
           <p><a href="{% url 'new_order' %}">Order Data</a></p>
          </div>
        </div>

               

<div class="marketing_box">
          <div class="marketing_header" id="bulk_ordering">
          <p>Bulk Ordering API</p>
          </div>
          <div class="marketing_content">
              <p>The API will enable end-users to write their own clients to interact with all Bulk Ordering capabilities.</p> <p>The Bulk Ordering API will be implemented as a REST service using HTTP and JSON and will therefore be available from most programming languages.</p>
              </p>      
          </div>
          <div class="marketing_footer">
            <p class="coming_soon">Coming Soon!</p>
          </div>
        </div>


        <div class="marketing_box">
          <div class="marketing_header" id="bulk_ordering">
           <p>LPCS</p>
          </div>
          <div class="marketing_content">
              <p>Land Product Characterization provides a way to perform statistical comparisons between datasets obtained from disparate sensors.</p>
              <p>LPCS currently supports MODIS and Landsat surface reflectance products only, but further development will expand the offerings.
               </p>      
          </div>
           <div class="marketing_footer">
           <p><a href="{% url 'new_order' %}">Generate Comparisions</a></p>
          </div>
        </div>
            
</div>

<div class="footer"></div>

<div class="spacer"></div>

{% endblock %}
{% endcache %}

