{% extends "ordering/base.html" %}

{% load static %}

{% block title %} Show all orders {% endblock %}

{% block header %}
{% if email %}
    Showing all orders for: {{ email }}
{% else %}
    Show all orders
{% endif %}
{% endblock %}


{% block style %}

span.status-display {
   margin-left:10px
}

.orderid {width:250px;}
.pordered {width:80px;}
.pcomplete {width:80px;}
.pstatus {width:85px;}
.pnote {}

{% endblock %}

{% block nav %}{% include "ordering/bulk_ordering_nav.html" %}{% endblock %}


{% block content %}

{% csrf_token %}
<div class="wrapper">

{% if display_system_message %}
    {% include "ordering/system_message.html" %}
{% endif %}


<div style='margin:0 auto; text-align:center;margin-top:10px;'>
        
    {% if errors.email %}
        <span class="error">{{errors.email}}</span><br/>
    {% endif %}
    
    <label for="id_email" style="font-weight:bold">Show orders for:</label>
    {{ form.email }}
        
    <input type="button" value="Submit" onclick='switchUrl();' />
</div>

{% if orders %}
<h4>
<a href="{% url 'status_feed' email %}"><img border="0" alt="RSS Status Feed" title="Completed Scene RSS Feed" src="{% static 'img/feed-icon-28x28.png' %}"></img></a>
&nbsp;&nbsp;Showing all orders for {{ email }}
</h4>


<div class='boxbody'>

<table>
    <tr class="header_row">
        <th class='header_row noborder orderid'>Order ID</th>
        <th class='header_row noborder pordered'>Products Ordered</th>
        <th class='header_row noborder pcomplete'>Products Complete</th>
        <th class='header_row noborder pstatus'>Status</th>
        <th class='header_row noborder pnote'>Note</th>
    </tr>

{% for order in orders %}
    <tr class="{% cycle 'oddrow' 'evenrow' %}">
    <td class="{% cycle 'oddrow' 'evenrow' %}"><a href="{% url 'generic_order_status_detail' order.orderid %}">{{ order.orderid }}</a></td>
    <td class="{% cycle 'oddrow' 'evenrow' %}" id='{{ order.id }}_total_ordered'></td>
    <td class="{% cycle 'oddrow' 'evenrow' %}" id='{{ order.id }}_finished'></td>
    <td class="{% cycle 'oddrow' 'evenrow' %}">{{ order.get_status_display }}</td>
    <td class="{% cycle 'oddrow' 'evenrow' %}">{{ order.note }}</td>
    </tr> 
{% endfor %}
</table>

</div>
{% else %}
<div style="margin:0 auto;text-align:center;">
    <h4 style='margin-top:40px;'>No orders found for {{email}}</h4>
</div>
{% endif %}
</div>
<div class="footer"></div>

<div class="spacer"></div>
{% endblock %}



{% block scripts %}
{% autoescape off %}

function switchUrl() {
    //this comes back encoded as fake%40.com
    var path = "{% url 'list_orders' 'fake@val.com' %}";

    var email_addr = document.getElementById('id_email');

    path = path.replace('fake%40val.com', $.trim(email_addr.value));

    window.location = path;
    
    return false;
}

$(document).ready(function() { 
  {% if orders %}
  {% for order in orders %}

    var total_count = {{ order.scene_set.count }};
    var product_counts = {{ order.product_counts }};
    var total_target = '#{{ order.id }}_total_ordered';
    var finished_target = '#{{ order.id }}_finished';

    $(total_target).append(total_count);
    $(finished_target).append(product_counts['complete'] + product_counts['unavailable']);

  {% endfor %}
  {% endif %}

});

{% endautoescape %}
{% endblock %}
