{% extends "ordering/base.html" %}
{% load url from future %}

{% block title %}Ordering Interface{% endblock %}
{% block header %} ESPA Ordering Interface {% endblock %}

{% block nav %}{% include "ordering/login_nav.html" %}{% endblock %}

{% block content %}

<div class="wrapper">
	
	<h4 class="inlineb topspace30 bottomspace20">Please log in to continue</h4>


	<form method="post" action="{% url 'django.contrib.auth.views.login' %}" method="post">
		{% csrf_token %}
		
		<table class='noborder' style="width:300px">
               <tr>
                   <td class='noborder'>{{ form.username.label_tag }}</td>
                   <td class='noborder'>{{ form.username }}</td>
               </tr>
		    <tr>
                   <td class='noborder'>{{ form.password.label_tag }}</td>
                   <td class='noborder'>{{ form.password }}</td>
               </tr>
               <tr>
                   <td class='noborder'><input type="submit" value="Log In" /></td>
                   <td class='noborder'><input type="hidden" name="next" value="{{next}}" /></td>
		    </tr>                 
	    	      
		</table>

	</form>

    
     <p style="padding-top:25px">A USGS username and password are required to access this interface.</p>
     <p>You may enter the same credentials used to access <a href="{{ earthexplorer }}">EarthExplorer</a>.</p>
     

	<h5 style="padding-top:30px">
        <a href="{{ register_user }}">Register for an account</a>
        <span style="padding-left:15px;padding-right:15px" />
        <a href="{{ forgot_login }}">Forgot your password?</a>
     </h5>

</div>

<div class="footer"></div>

<div class="spacer"></div>

{% endblock %}
