{% extends "ordering/base.html" %}
{% load static %}

{% load cache %}
{% cache 60 new_order_html_1 %}
    {% block title %} New Bulk Order {% endblock %}
    {% block header %} New Bulk Order {% endblock %}

    {% block stylesheets %} {% endblock %}
    
    {% block style %}
        
    div#errorbox{
        margin:15px auto;
        border:4px solid #CC0000;
        width:750px;
        overflow:hidden;
        color:#AA0000;
        font-size:16px;
        padding:15px;
    }
        
    div#errorbox h3 {
        border:none;
        padding-top:10px;
        padding-bottom:20px;
        padding-left:10px;
        padding-right:10px;
        margin:0px;
    }
        
    div#errorbox h4 {
        border:none;
        padding:0px;
        margin:0px;
        line-height:1.5em;
    }
	
	
    div#errorbox td{
        font-size:16px;
        color:red;
        padding:5px 25px;
    }
	
    div.product_box {
        width:650px;
        margin:15px auto 35px auto;
        border:1px solid #d0d0d0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        overflow:hidden; 
    }
	
    div.product_boxheader {
        text-align:center;
        line-height:20px;
        font-size:14px;
        font-weight:bold;
        background:#577196;
        overflow:hidden;
        color:white;
        margin-bottom:9px;
        padding:2px 0px;
    }
	
    div.product_boxbody {
        height:auto;
        padding-bottom:9px;   
    }

    div.product_boxbody p {
        padding-left:10px;
        padding-right:10px;
    }
	
    div.product_boxbody label{
        display:inline-block;	    
    }
	
    div.product_boxbody input{
        display:inline-block;
    }
        
    div#order_description_productbox {
        text-align:center;
    }
        
    #order_description {
        width: 625px;
        height: 100px;
        margin-top: 10px;
        margin: 10px auto;
        align: center;
    }
            
    div.inputitem {
        padding:5px;
        text-align:left;
        line-height:20px;
    }
        
    div.inputitem label{
        display:inline;
    }
	
    div#resize_options, div#reprojection, div#scene_extents {
        height:auto;
        margin:10px auto;
        padding:10px;
        width:85%; 
        border:1px solid #d0d0d0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
	
    div#resample_options {
        height:auto;
        padding-top:20px;
        padding-bottom:20px;
        text-align:left;
    }
	
    input#submit {
        display:block;
        clear:both;
        margin:20px auto;
    }
	
		
    input#input_product_list {
        margin-left:40px;
    }
	
    div#projection_parameters {
        padding:10px;
        height:auto;
        display:none;
        visibility:hidden;
    }
	
    .projection_params_txt {
        width:170px;
        margin-right:10px;
    }
	
    .projection_params_select {
        margin-right:39px;
        width:100px;
    }
	
    #utm_zone_label {
        padding-right:10px;
    }

    h5#input_product_list {
        margin:0 auto;
        padding:20px;
    }

    #input_product_list_box {
        width:650px;
        margin-top:40px;
        margin-bottom:15px;
        margin-left:auto;
        margin-right:auto;
        border:2px solid #d0d0d0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        overflow:hidden; 
     }

    input#input_product_list {
        max-width:90%;
        width:90%;
    }

    div#output_formats {
        margin-left:27px;
    }

    div#output_formats label{
        margin-right:15px;
    }

    input#output_format {
        margin-left:15px;
    }

    input.bounding_box_params {
        width:174px;
    }

    .image_extents_units_wrapper {
        width:400px;
    }
  
    {% endblock %}

    {% endcache %}

    {% block nav %}{% include "ordering/bulk_ordering_nav.html" %}{% endblock %}

    {% block content %}


    <form action="{% url 'new_order' %}" 
          method="post" 
          id="request_form" 
          name="request_form" 
          enctype="multipart/form-data"> {% csrf_token %}
    
    <div class="wrapper">
    
    {% if display_system_message %}
        {% include "ordering/system_message.html" %}
    {% endif %}
    

    {% if errors %}
    <div id="errorbox">
    <h3>Errors were found in your request.&nbsp;&nbsp;Please correct them and retry your order.</h3>
    {% for error in errors %}
    <h4>{{ error|safe }}</h4>
    {% endfor %}
    {% endif %}
    {% if errors %}
    </div>
    {% endif %}
    
    {% cache 60 new_order_html_2 %}

    <div class="espa_lightbox" id="available_input_products">
        <h2>ESPA Input Products & Options</h2>
                    
        <table>
        <tr>
            <th>&nbsp;</th>
            <th>Landsat 4, 5, 7, 8</th>
            <th>MODIS Aqua & Terra</th>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <th>TM, ETM+, OLI/TIRS</th>
            <th>09A1/GA/GQ/Q1, 13Q1/A1/A2/A3</th>
        </tr>
        <tr>
            <td>Original Input Products</td>
            <td>X</td>
            <td>X</td>
        </tr>
        <tr>
            <td>Original Input Metadata</td>
            <td>X</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Customized Input Products</td>
            <td>X</td>
            <td>X</td>
        </tr>
        <tr>
            <td>Climate Data Records</td>
            <td>X</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Spectral Indices</td>
            <td>X</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Customized Outputs</td>
            <td>X</td>
            <td>X</td>
        </tr>
        
        </table>

    </div>

     <h4 class="inlineb topspace20 new_order_section_label">Add Input Products (<a href="#" id="available_input_products_open">Show Available Products</a>)</h4>

     <div class="product_box">
	    <div class="product_boxheader">
		Scene List
	    </div>
         <div class="product_boxbody"> 
             <div class="inputitem">
             <input type="file" id="input_product_list" name="input_product_list">
             </div>
         </div>
     </div>
		
	<h4 class="inlineb new_order_section_label">Select Product Contents</h4>
	
	<div class="product_box">
	    <div class="product_boxheader">
		Source Products
	    </div>
	    <div class="product_boxbody">
		
		<div class="inputitem">
		    <input class="product" type="checkbox" id="include_source_data" name="include_source_data">
		    <label class="tooltip" title="Deliver Unmodified Input Products" for="source_products">Original Input Products</label>
		</div>
		
		<div class="inputitem">
		    <input class="product" type="checkbox" id="include_source_metadata" name="include_source_metadata">
		    <label class="tooltip" title="Deliver Unmodified Input Product Metadata">Original Input Metadata</label>
		</div>

           <div class="inputitem">
		    <input class="product custom_product" type="checkbox" id="include_customized_source_data" name="include_customized_source_data">
		    <label class="tooltip" title="Apply ESPA Customizations to Input Products">Customized Input Products</label>
		</div>
		
	    </div>
	</div>
	
     <h4 class="inlineb new_order_section_label">Additional Processing (Landsat Only)</h4>

	<div class="product_box">
	    <div class="product_boxheader">
		Climate Data Records
	    </div>
	    <div class="product_boxbody">
		
		<div class="inputitem">
		    <input class="product custom_product" type="checkbox" id="include_sr_toa" name="include_sr_toa"></input>
		    <label class="tooltip" title="LEDAPS Top of Atmosphere Reflectance " for="toa_reflectance">Top of Atmosphere Reflectance</label>
		</div>
		
		<div class="inputitem">
		    <input class="product custom_product" type="checkbox" id="include_sr" name="include_sr"></input>
		    <label class="tooltip" title="LEDAPS Surface Reflectance" for="surface_reflectance">Surface Reflectance</label>
		</div>
		
		<div class="inputitem">
		    <input class="product custom_product" type="checkbox" id="include_sr_thermal" name="include_sr_thermal"></input>
		    <label class="tooltip" title="Surface Reflectance Brightness Temperature" for="sr_thermal">Brightness Temperature</label>
		</div>
	    </div>
	</div>
        
     <div style="{{ optionstyle }}" class="product_box">
	    <div class="product_boxheader">
		Essential Climate Variables
	    </div>
	    <div class="product_boxbody">
		<div class="inputitem"></div>
	    </div>
	</div>
	
	<div class="product_box">
	    <div class="product_boxheader">
		Spectral Indices
	    </div>
	    <div class="product_boxbody">
		
		<div class="inputitem">
		    <input class="product custom_product" type="checkbox" id="include_sr_ndvi" name="include_sr_ndvi"></input>
		    <label class="tooltip" title="Normalized Difference Vegetation Index" for="include_sr_ndvi">Surface Reflectance NDVI</label>
		</div>
		
		<div class="inputitem">
		    <input class="product custom_product" type="checkbox" id="include_sr_ndmi" name="include_sr_ndmi"></input>
		    <label class="tooltip" title="Normalized Difference Moisture Index" for="include_sr_ndmi">Surface Reflectance NDMI</label>
		</div>
		
		<div class="inputitem">
		    <input class="product custom_product" type="checkbox" id="include_sr_nbr" name="include_sr_nbr"></input>
		    <label class="tooltip" title="Normalized Burn Ratio using bands 4 &amp; 7" for="include_sr_nbr">Surface Reflectance NBR</label>
		</div>
		
		<div class="inputitem">
		    <input class="product custom_product" type="checkbox" id="include_sr_nbr2" name="include_sr_nbr2"></input>
		    <label class="tooltip" title="Normalized Burn Ratio using bands 5 &amp; 7" for="include_sr_nbr2">Surface Reflectance NBR2</label>
		</div>
		
		<div class="inputitem">
		    <input class="product custom_product" type="checkbox" id="include_sr_savi" name="include_sr_savi"></input>
		    <label class="tooltip" title="Soil Adjusted Vegetation Index" for="include_sr_savi">Surface Reflectance SAVI</label>
		</div>
                
            <div class="inputitem">
		    <input class="product custom_product" type="checkbox" id="include_sr_msavi" name="include_sr_msavi"></input>
		    <label class="tooltip" title="Modified Soil Adjusted Vegetation Index" for="include_sr_msavi">Surface Reflectance MSAVI</label>
		</div>
		
		<div class="inputitem">
		    <input class="product custom_product" type="checkbox" id="include_sr_evi" name="include_sr_evi"></input>
		    <label class="tooltip" title="Enhanced Vegetation Index" for="include_sr_evi">Surface Reflectance EVI</label>
		</div>
		
	    </div>
	</div>

     <h4 class="inlineb new_order_section_label">Customize Outputs</h4>

	<div class="product_box">

	    <div class="product_boxheader">
		Customization Options
	    </div>

	    <div class="product_boxbody">

           <div class="inputitem" id="output_formats">
               <label class="tooltip" title="Output format for ESPA products">Output Format</label>
               <input type="radio" id="output_format" name="output_format" value="gtiff" checked="checked">GeoTiff</input>
               <input type="radio" id="output_format" name="output_format" value="envi">ENVI</input>
               <input type="radio" id="output_format" name="output_format" value="hdf-eos2">HDF-EOS2</input>   		
           </div>
				
		<div class="inputitem">
		    
               <input class="custom_control needs_resample_opts" type="checkbox" id="reproject" name="reproject">
		    <label class="tooltip" title="Specify custom image projection for output products" for="reproject">Reproject Products</label>
		    
               <div class="custom_control_options" id="reprojection">
   		        <label for="projection">Projection:</label>

                   <select id="select_target_projection" form="request_form">
                       <option value="aea">Albers Equal Area</option>
                       <option value="utm">Universal Transverse Mercator</option>
			      <option value="lonlat">Geographic</option>
			      <option value="sinu">Sinusoidal</option>
                       <option value="ps">Polar Stereographic</option>
			  </select>
                  
                   <input type="hidden" id="target_projection" name="target_projection" />
			
                   <div id="projection_parameters"></div>
		    </div>

		</div><!-- End inputitem -->
		
		<div class="inputitem" id="custom_control_div">
               <input class="custom_control" type="checkbox" id="image_extents" name="image_extents">
		    <label class="tooltip" title="Enter user defined extents for output products (minimum X,Y maximum X,Y in meters or decimal degrees)" for="include_solr_index">Modify Image Extents</label>
		
		    <div class="custom_control_options" id="scene_extents">

                 <div class="inputitem" id="box_units">
                     <input class="image_extents_units image_extents_units_dd" type="radio" name="image_extents_units" value="dd" />
                     <label class="image_extents_units image_extents_units_dd">Decimal Degrees</label>
                     <input class="image_extents_units image_extents_units_meters" type="radio" name="image_extents_units" value="meters" />
                     <label class="image_extents_units image_extents_units_meters">Meters</label>
                 </div>

		      <div class="inputitem" id="minx_div">
			    <input class="bounding_box_params" type="text" id="minx" name="minx" />
			    <label for="minx">Upper left X coordinate</label>
		      </div>
			<div class="inputitem" id="maxy_div">
			    <input class="bounding_box_params" type="text" id="maxy" name="maxy" />
			    <label for="maxy">Upper left Y coordinate</label>
		      </div>
		      <div class="inputitem" id="maxx_div">
			    <input class="bounding_box_params" type="text" id="maxx" name="maxx" />
			    <label for="maxx">Lower right X coordinate</label>
		      </div>
			<div class="inputitem" id="miny_div">
			    <input class="bounding_box_params" type="text" id="miny" name="miny" />
			    <label for="miny">Lower right Y coordinate</label>
		      </div>
		    </div>
		</div>
		
		<div class="inputitem">
		    
               <input class="custom_control needs_resample_opts" type="checkbox" id="resize" name="resize">
		    <label class="tooltip inline" title="Specify desired pixel size" for="resize">Pixel Resizing</label>
		    
                <div class="custom_control_options" id="resize_options">
			 <input placeholder="30 to 1000" type="text" name="pixel_size" id="pixel_size" />
                 <input type="hidden" id="pixel_size_units" name="pixel_size_units" />
  		    
                 <label id="pixel_size_unit_label" form="request_form"></label>
                                     
  		    </div>
		</div>
		
		<div id="resample_options">
		    <label class="tooltip" title="Select method for resampling" for="resample_method">Resample Method:</label>
		    <input id="resample_method" name="resample_method" type="hidden" value="near" />
                
               <select id="select_resample_method" form="request_form">                
			<option value="near">Nearest Neighbor</option>
			<option value="bilinear">Bilinear Interpolation</option>
			<option value="cubic">Cubic Convolution</option>
		    </select>
		</div>

	    </div> <!-- End Product Box Body -->
	</div> <!-- End Product Box -->


      <!-- Include statistics -->
      <div class="product_box">
	    <div class="product_boxheader">
		Intercomparison &amp; Statistics
	    </div>
	    <div class="product_boxbody">
		<div class="inputitem">
               <input class="product" type="checkbox" id="include_statistics" name="include_statistics"></input>
		    <label class="tooltip" title="Generate Intercomparision Statistics and Plots" for="include_statistics">Plot Output Product Statistics</label>
           </div>
	    </div>
	</div>

      <h4 class="inlineb new_order_section_label">Add Order Description</h4>

      <div class="product_box">
	     <div class="product_boxheader">
		    Order Description (optional)
	     </div>
	     <div class="product_boxbody" id="order_description_productbox">
	         <textarea id="order_description" name="order_description"></textarea>
           </div>
      </div>
        
      <input type="submit" id="submit" value="Submit" />

</div>
</form>

<div class="footer"></div>
<div class="spacer"></div>


{% endcache %}
{% endblock %}
    
{% block scripts %}
{% cache 1 new_order_javascripts %}
       
       /***********************************************************************
           Define global lookups for the jquery code
       ***********************************************************************/
       var submit_button = "#submit"
       var products = ".product"
       var checked_products = products + ":checked";
       var custom_products = ".custom_product";
       var checked_custom_products = custom_products + ":checked";

       //class for top-level custom controls
       var custom_controls = ".custom_control";
       var custom_control_options = ".custom_control_options";

       //these are the controls that need the resample option control 
       //shown or hidden
       var needs_resample_opts_classname = "needs_resample_opts";
       var needs_resample_opts = "." + needs_resample_opts_classname;
       var needs_resample_opts_checked = needs_resample_opts + ":checked";

       var resample_control = "#resample_options";
       var resample_method = "#resample_method";
       var select_resample_method = "#select_resample_method";
       var selected_resample_option = "#select_resample_method option:selected";
       
       var reproject = "#reproject";
       var reproject_div = "#reprojection";

       var resize = "#resize";
       var resize_option_div = "#resize_options";

       var select_target_projection = "#select_target_projection";
       var selected_target_projection = select_target_projection + ":selected";

       var input_product_list = "#input_product_list";

       var image_extents = $("#image_extents");
       var image_extents_units = $(".image_extents_units");
       var image_extents_units_dd = $(".image_extents_units_dd");
       var image_extents_units_meters = $(".image_extents_units_meters");
       var minx = $("#minx");
       var miny = $("#miny");
       var maxx = $("#maxx");
       var maxy = $("#maxy");


       var decimal_degrees = "dd";
       var meters = "meters";

       //this is in milliseconds
       var show_hide_delay = 200;
        

       $(document).ready(function(){
           
           /******************************************************************* 
              Initial page load & initialization 
           *******************************************************************/
           
           //disable the custom controls if no custom products are selected
           $(products).prop("checked", false);

           $(custom_controls).prop("checked", false);
           $(custom_controls).prop("disabled", true);
           $(submit_button).prop("disabled", true);
            
           //hide the custom controls on page load
           $(custom_control_options).hide(0);

           //hide resample options on page load
           $(resample_options).hide(0);    
           
           $('#available_input_products').hide(0);
          
           /******************************************************************* 
               default the output format to gtiff
           *******************************************************************/

           $("input:radio[name='output_format']").filter("[value=gtiff]").click();
                
            
           /*******************************************************************
               Event handling for displaying/hiding the available input product
               box.
           *******************************************************************/
           $('#available_input_products_open').click(function(item) {
               //if hidden show it & vice versa
               if ( $('#available_input_products').is(":hidden") ) {
                   $('#available_input_products').css({"visibility":"visible"})
                   $('#available_input_products').show(0);
                   $('#available_input_products_open').text("Hide Available Products");
               } 
               else {
                   $('#available_input_products').hide(0);
                   $('#available_input_products_open').text("Show Available Products");
               } 
           });


           /*******************************************************************
               Event handler to enable & disable the submit button.
               Only enabled if there are products and scenes selected.
           *******************************************************************/

           $(products).click(function(item) {

               if ($(checked_products).length > 0) {
                   if ($(input_product_list).val().length > 0) {
                       $(submit_button).prop("disabled", false);
                   }
               }
               else {
                   $(submit_button).prop("disabled", true);
               }
           });


           /*******************************************************************
               Event handler to enable & disable the submit button.
               Only enabled if there are products and scenes selected.
           *******************************************************************/
          $(input_product_list).change(function(item) {
              
              if ( $(input_product_list).val().length > 0 ) {
                   if ( $(checked_products).length > 0 ) {     
                       $(submit_button).prop("disabled", false);
                   }
               }
               else {
                   $(submit_button).prop("disabled", true);
               }
           });


           /*******************************************************************
               Event handler to disable & enable the custom controls.
               Depends on whether there are any customizable products 
               selected.
           *******************************************************************/           

           $(custom_products).click(function(item) {
          
               if ($(checked_custom_products).length > 0) {
                   $(reproject).prop("disabled", false);
                   $(resize).prop("disabled", false);
                   //$(custom_controls).prop("disabled", false);
               }
               else {
                  $(custom_controls).prop("disabled", true);
                  $(custom_controls).prop("checked", false);
                  $(custom_control_options).hide(show_hide_delay);
                  $(resample_options).hide(show_hide_delay);
                  $("#target_projection").val(undefined);
               }
           });

           /*******************************************************************
             Ties the availability of image_extents to reprojection
           *******************************************************************/
           $(reproject).click(function(item) {
                            
               if ( $(reproject).prop("checked") == true ) {
                   $(image_extents).prop("disabled", false);
               }
               else {
                   if ($(image_extents).prop("checked") == true) {
                       $(image_extents).click();
                   }
                   $(image_extents).prop("disabled", true);
               }
           
           });

           /*******************************************************************
               Updates the image extents units when they've been clicked
           *******************************************************************/
           $(image_extents_units).click(function(item) {
               update_bounding_box_placeholders(item.target.value);
           });

           
           /*******************************************************************
               Event handler to show & hide the custom controls
           *******************************************************************/

           $(custom_controls).click(function(item) {
               //built the lookup value for jquery
               //this will be the id of the element that was clicked
               //plus the jquery selector '~' and the class for
               //the custom control for that element.
               
               var lookup = "#" + item.target.id;
               lookup = lookup + " ~ " + custom_control_options;

               //if hidden show it & vice versa
               if ( $(lookup).is(":hidden") ) {
                   $(lookup).css({"visibility":"visible"})
                   $(lookup).show(show_hide_delay);
               } 
               else {
                   $(lookup).hide(show_hide_delay);
               } 
           });

           /*******************************************************************
               Event handler to initially populate the default projection
           *******************************************************************/
           $(reproject).change(function(item) {
                if ( $(this).is(":checked") ) {
                    handle_projection_selection();
                }
                else {
                    $("#reproject_div").hide();
                    $("#target_projection").val(undefined);
                    update_pixelsize_units(meters);
                    update_bounding_box_placeholders(meters);                             
                }
           });

           /*******************************************************************
              Initial value population for pixelsize units (meters or dd)
           *******************************************************************/
           $(resize).click(function(item) {
               if ( $("#target_projection").val().length == 0 ) {
                   update_pixelsize_units(meters);
               }
           });

           /*******************************************************************
              Initialize the bounding box placeholders
           *******************************************************************/
           $(image_extents).click(function(item) {
                              
               //make sure dd is selected if the projection is lonlat
               if ( $("#target_projection").val() == "lonlat") {
                   $("input:radio[name='image_extents_units'][value='dd']").click();
               }
               else if ( $("input:radio[name='image_extents_unit']:checked").val() ==  undefined ) {
                   if ( $("#target_projection").val() == "lonlat") {
                       $("input:radio[name='image_extents_units'][value='dd']").click();
                   }    
                   else {
                       $("input:radio[name='image_extents_units'][value='meters']").click();
                   }
               }
               
           });


           /*******************************************************************
              Show/hide the resample options
           *******************************************************************/
           $(needs_resample_opts).change(function(item) {
               if ( $(needs_resample_opts_checked).length == 0) {
                   $(resample_options).hide(show_hide_delay);
               }
               else {
                   $(resample_options).show(show_hide_delay);
                   $(resample_options).css({"visibility":"visible"})
               }
           });

    });
 
    
    /**************************************************************************
       Event handler for projection changes.
     
      Since the select box is not created during document load, we have 
      to use event delegation here to attach events to it.
      once its parent is loaded and ready (reproject_div) then attach the 
      listener

    **************************************************************************/
     
      $(reproject_div).on('change', select_target_projection, function() {
              handle_projection_selection();
      });


     /**************************************************************************
       Event handler for resample method changes.
     
      Since the select box is not created during document load, we have 
      to use event delegation here to attach events to it.
      once its parent is loaded and ready (resample_control) then attach the 
      listener

    **************************************************************************/
      $(resample_control).on('change', select_resample_method, function() {
          $(resample_method).val($(selected_resample_option).val());
      });

       

      /* Constructs html to be displayed when albers is selected as a projection */
      function build_albers_options() {
	  var html = "";
	  html += "<div class='inputitem'>";
	  html += "<input placeholder='-90.0 to 90.0' class='projection_params_txt' type='text' id='origin_lat' name='origin_lat'>";
	  html += "<label for='origin_lat'>Latitude of Origin</label>";
	  html += "</div>";
	 
	  html += "<div class='inputitem'>";
	  html += "<input placeholder='-180.0 to 180.0' class='projection_params_txt' type='text' id='central_meridian' name='central_meridian'>";
	  html += "<label for='central_meridian'>Central Meridian</label>";
	  html += "</div>";
	  
	  html += "<div class='inputitem'>";
	  html += "<input class='projection_params_txt' type='text' id='std_parallel_1' name='std_parallel_1' placeholder='-90.0 to 90.0'>";
	  html += "<label for='std_parallel_1'>1st Standard Parallel</label>";
	  html += "</div>";
	  
	  html += "<div class='inputitem'>";
	  html += "<input class='projection_params_txt' type='text' id='std_parallel_2' name='std_parallel_2' placeholder='-90.0 to 90.0'>";
	  html += "<label for='std_parallel_2'>2nd Standard Parallel</label>";
	  html += "</div>";
	  
	  html += "<div class='inputitem'>";
	  html += "<input class='projection_params_txt' type='text' id='false_easting' name='false_easting' placeholder='any float (e.g. 0.0)'>";
	  html += "<label for='false_easting'>False Easting</label>";
	  html += "</div>";
	  	  
	  html += "<div class='inputitem'>";
	  html += "<input class='projection_params_txt' type='text' id='false_northing' name='false_northing' placeholder='any float (e.g. 0.0)'>";
	  html += "<label for='false_northing'>False Northing</label>";
	  html += "</div>";
	  
	  html += "<div class='inputitem'>";
       html += "<input type='hidden' id='datum' name='datum' />";
	  html += "<select class='projection_params_select' form='request_form' id='select_datum' onchange=update_datum();>";
	  html += "<option value='wgs84'>WGS 84</option>";
       html += "<option value='nad27'>NAD 27</option>";
	  html += "<option value='nad83'>NAD 83</option>";
	  html += "</select>";
	  
	  html += "<label for='datum'>Datum</label>";
	  html += "</div>";
	  
	  return html;	
      }
      
      /* Constructs html to be displayed when sinusoidal is selected as a projection */
      function build_sinusoidal_options() {
          var html = "";
	  html += "<div class='inputitem'>";
	  html += "<input class='projection_params_txt' type='text' id='central_meridian' name='central_meridian' placeholder='-180.0 to 180.0'>";
	  html += "<label for='central_meridian'>Central Meridian</label>";
	  html += "</div>";
	  
	  html += "<div class='inputitem'>";
	  html += "<input class='projection_params_txt' type='text' id='false_easting' name='false_easting' placeholder='any float (e.g. 0.0)'>";
	  html += "<label for='false_easting'>False Easting</label>";
	  html += "</div>";
	  	  
	  html += "<div class='inputitem'>";
	  html += "<input class='projection_params_txt' type='text' id='false_northing' name='false_northing' placeholder='any float (e.g. 0.0)'>";
	  html += "<label for='false_northing'>False Northing</label>";
	  html += "</div>";
	  
	  return html;
      }
      
      /* Constructs html to be displayed when utm is selected as a projection */
      function build_utm_options() {
	  var html = "";
	  html += "<div class='inputitem'>";
	  html += "<label id='utm_zone_label' for='utm_zone'>UTM Zone</label>";
	  html += "<input class='projection_params_txt' type='text' name='utm_zone' id='utm_zone' placeholder='1-60' />";
       html += "<input type='hidden' id='utm_north_south' name='utm_north_south' />";
	  html += "<select class='projection_params_select' form='request_form' id='select_utm_north_south' onchange=update_utm_params();>";
	  html += "<option value='north'>North</option>";
	  html += "<option value='south'>South</option>";
	  html += "</select>";
	  html += "</div>";
	  	  
	  return html;
      }

      /* Constructs html to be displayed when polar stereographic is selected as a projection */
      function build_ps_options() {
          var html = "";
	  html += "<div class='inputitem'>";
	  html += "<input class='projection_params_txt' type='text' id='longitude_pole' name='longitude_pole' placeholder='-180.0 to 180.0'>";
	  html += "<label for='longitude_pole'>Longitudinal Pole</label>";
	  html += "</div>";

       html += "<div class='inputitem'>";
	  html += "<input class='projection_params_txt' type='text' id='latitude_true_scale' name='latitude_true_scale' placeholder='-90.0 to -60.0 or 60.0 to 90.0'>";
	  html += "<label for='latitude_true_scale'>Latitude True Scale</label>";
	  html += "</div>";

      	  
	  html += "<div class='inputitem'>";
	  html += "<input class='projection_params_txt' type='text' id='false_easting' name='false_easting' placeholder='any float (e.g. 0.0)'>";
	  html += "<label for='false_easting'>False Easting</label>";
	  html += "</div>";
	  	  
	  html += "<div class='inputitem'>";
	  html += "<input class='projection_params_txt' type='text' id='false_northing' name='false_northing' placeholder='any float (e.g. 0.0)'>";
	  html += "<label for='false_northing'>False Northing</label>";
	  html += "</div>";
	  
	  return html;
      }

       
      /*
      Event listener for the projection selection box
      */
      
     function handle_projection_selection(projection) {
	    var html = "";

         
         //allow the caller to override the value we go looking for.
         switchval = "";
         if (typeof projection != 'undefined') {
             switchval = projection;
         }
         else {
             switchval = $("#select_target_projection").val();
         }

	    switch( $('#select_target_projection').val() ) {
           
            case "aea":
               $("#projection_parameters").html(build_albers_options());
		    $("#projection_parameters").css("display", "block");
	          $("#projection_parameters").css("visibility", "visible");
               $("#target_projection").val("aea");
               $("#select_pixel_size_units").val("meters");                  //force pixel size units to meters
               update_pixelsize_units(meters);
               //update_bounding_box_placeholders(meters);
               update_available_extents_units([meters, decimal_degrees]);
               $("input:radio[name='image_extents_units'][value='meters']").click();
               update_datum();                                               //set hidden input field for initial value
		    break;

            case "sinu":
                 $("#projection_parameters").html(build_sinusoidal_options());
		      $("#projection_parameters").css("display", "block");
	           $("#projection_parameters").css("visibility", "visible");
                 $("#select_pixel_size_units").val("meters");                  //force pixel size units to meters
                 update_pixelsize_units(meters);
                 update_available_extents_units([meters, decimal_degrees]);
                 $("input:radio[name='image_extents_units'][value='meters']").click();
                 $("#target_projection").val("sinu");
		      break;

            case "ps":
                  $("#projection_parameters").html(build_ps_options());
		       $("#projection_parameters").css("display", "block");
	             $("#projection_parameters").css("visibility", "visible");
                  $("#select_pixel_size_units").val("meters");                  //force pixel size units to meters
                  update_pixelsize_units(meters);
                  update_available_extents_units([meters, decimal_degrees]);
                  $("input:radio[name='image_extents_units'][value='meters']").click();
                  $("#target_projection").val("ps");
		       break;

            case "utm":
                $("#projection_parameters").html(build_utm_options());
		     $("#projection_parameters").css("display", "block");
	           $("#projection_parameters").css("visibility", "visible");
                $("#target_projection").val("utm");
                $("#select_pixel_size_units").val("meters");                  //force pixel size units to meters
                update_pixelsize_units(meters);
                update_available_extents_units([meters, decimal_degrees]);
                $("input:radio[name='image_extents_units'][value='meters']").click();
                update_utm_params();                                          //update hidden input field
                break;
	    
            case "lonlat":
		     html = "";
                $("#projection_parameters").html(html);
		     $("#projection_parameters").css("display", "none");
	           $("#projection_parameters").css("visibility", "hidden");
                $("#target_projection").val("lonlat");
                $("#select_pixel_size_units").val("dd");                      //force pixel size units to dd
                update_pixelsize_units(decimal_degrees);
                update_available_extents_units([decimal_degrees]);
                $("input:radio[name='image_extents_units'][value='dd']").click();
		     break;
	       
           default:
               $("#projection_parameters").html(build_albers_options());
		    $("#projection_parameters").css("display", "block");
	          $("#projection_parameters").css("visibility", "visible");
               $("#target_projection").val("aea");
               $("#select_pixel_size_units").val("meters");                  //force pixel size units to meters
               update_pixelsize_units(meters);
               update_available_extents_units([meters, decimal_degrees]);
               update_datum();                                               //set hidden input field for initial value
		    break;
           }
	
           }
       

           function update_bounding_box_placeholders(projection_units) {
               if (projection_units == decimal_degrees) {
                   minx.attr("placeholder", "-180.0 to 180.0");
                   maxx.attr("placeholder", "-180.0 to 180.0");
                   miny.attr("placeholder", "-90.0 to 90.0");
                   maxy.attr("placeholder", "-90.0 to 90.0");
               }
               else {
                   minx.attr("placeholder", "any float in projection space");
                   maxx.attr("placeholder", "any float in projection space");
                   miny.attr("placeholder", "any float in projection space");
                   maxy.attr("placeholder", "any float in projection space");
               }

           }


           /*******************************************************************
             Shows/hides the available image_extents units 
           *******************************************************************/
           function update_available_extents_units(available_units) {
               //coord_unit_dd, coord_unit_meters
               $(image_extents_units).hide();

               if (available_units.indexOf(decimal_degrees) != -1) {
                   $(image_extents_units_dd).show();
               }
               
               if (available_units.indexOf(meters) != -1) {
                   $(image_extents_units_meters).show();
               }
           }

           /*******************************************************************
           Change the pixel_size_unit label, hidden pixel_size_unit label
           to the correct values.
           *******************************************************************/
       
           function update_pixelsize_units(units) {
	         if (units == decimal_degrees) {
                  $("#pixel_size").attr("placeholder", "0.0002695 to 0.0089831");
                  $("#pixel_size_unit_label").text("Decimal Degrees");
               }
               else {
                  $("#pixel_size").attr("placeholder", "30.0 to 1000.0");
                  $("#pixel_size_unit_label").text("Meters");
               } 

               $("#pixel_size_units").val(units);
           }
       
       
           function update_utm_params() {
               $("#utm_north_south").val($("#select_utm_north_south option:selected").val());
           }
       
           function update_datum() {
               $("#datum").val($("#select_datum option:selected").val());
           }
  
    {% endcache %}
    {% endblock %}  
   
    



