{% extends "ordering/base.html" %}

{% block title %} ESPA - Order Details {% endblock %}

{% block header %}
Details for: {{ order.orderid }}
{% endblock %}

{% block style %} 

div.boxbody {
    margin:0 auto;
    width:600px;
    border:none;
}

div.boxbody table {
    width:500px;
    padding:10px;
}

div.boxbody table td {
    padding:5px 10px;
}

tr {
    line-height:1.6em;
}

tr.evenrow {
    background-color:#DEDEDE;
}

tr.evenrow td{
    background-color:#DEDEDE;
}


{% endblock %}

{% block nav %}{% include "ordering/bulk_ordering_nav.html" %}{% endblock %}

{% block content %}

<div class="wrapper">

{% if display_system_message %}
    {% include "ordering/system_message.html" %}
{% endif %}


{% if scenes %}
<h4>Details for: {{ order.orderid }}  ({{order.get_status_display}})</h4>

<div class="boxbody">
  <table class='noborder'>
  {% for s in scenes %}
    {% if s.name %}
    <tr class="{% cycle 'oddrow' 'evenrow' %}">
    <td class='noborder'>{{ s.name }}</td>
    <td class='noborder'>{{ s.get_status_display }}</td>
    {% if s.note and s.note != "''" %}
    <td class='noborder'>{{ s.note }}</td>
    {% endif %}
    {% if s.status == 'complete'%} 
    <td class='noborder'><a href="{{s.product_dload_url}}">Download</a></td>
    <td class='noborder'><a href="{{s.cksum_download_url}}">Checksum</a></td>
    {% else %}
    <td class='noborder'>&nbsp;</td>
    <td class='noborder'>&nbsp;</td>
    {% endif %}
    </tr>
    {% endif %}
  {% endfor %}
  </table>
</div>
{% else %}
<h4>No scenes found for {{ order.orderid }}</h4>
{% endif %}
</div>
<div class="footer"></div>

<div class="spacer"></div>
{% endblock %}
