{% extends "ordering/base.html" %}

{% block title %} ESPA - Order Details {% endblock %}

{% block header %}
    Details for: {{ order.orderid }}
{% endblock %}

{% block nav %}{% include "ordering/bulk_ordering_nav.html" %}{% endblock %}

{% block style %}
    th.product, td.product {width:250px;}
    th.status,  td.status {width:100px;}
    th.purl, td.purl {width:100px;}
    th.cksum, td.cksum {width:100px;}
    th.note, td.note {width:*;}

    .list_label {
        font-size:14px;
        margin-top:10px;
        margin-bottom:10px;
        margin-left: 0px;
        margin-right:10px;
        font-weight: bold;
    }

    .details {
        padding-left:35px;
        padding-right:35px;
        padding-top:0px;
        padding-bottom:10px;
      
     }

    .details p {
        line-height:1.2em;
    }

    .left-block {
       width:300px;
       display:inline-block;
       margin-right:150px;
     }

     .right-block {
         width:inherit;
         display:inline-block;
     }

    .requested_processing {
        margin-bottom:15px;
        overflow:hidden;
        padding:0px 0px 5px 0px;
    }

    .product_stats {
        background:#577196;
        color:white;
        font-weight:bold;
        text-align:center;
        margin-top:15px;
     }

    .product_stats p {
        margin:0px;
        padding-top:7px;
        padding-bottom:8px;
    }

    .product_stats span.status_item{
        margin-right:90px;
    }

    .column1 { width:500px; }
    .column2 { width:500px; }
    

     
    
{% endblock %}
{% block content %}

<div class="wrapper">

{% if display_system_message %}
    {% include "ordering/system_message.html" %}
{% endif %}


{% if scenes %}

<div class='product_stats'>
    <p>
    <span>Requested: </span><span class='status_item' id='requested_prods'></span>
    <span>Completed: </span><span class='status_item' id='completed_prods'></span>
    <span>Open: </span><span class='status_item' id='open_prods'></span>
    <span>Waiting on data: </span><span class='status_item' id='waiting_prods'></span>
    </p>
</div>    
  
<div class='details'>

<table class='noborder'>
<tbody>
<tr class='noborder'>
<td class='noborder column1'>
<span class='list_label'>Order:</span><span>{{ order.orderid }}</span>
</td>
<td class='noborder column2'>
<span class='list_label'>Date Ordered:</span><span>{{ order.order_date }}</span>
</td>
</tr>
<tr class='noborder'>
<td class='noborder'>
<span class='list_label'>Status:</span><span>{{ order.get_status_display }}</span>
</td>
<td class='noborder'>
<span class='list_label'>Date Completed:</span><span>{{ order.completion_date }}</span>
</td>
</tr>
<tr class='noborder'>
<td class='noborder' colspan="2" id='requested_products'></td>
</tr>
</tbody>
</table>

</div>

<div class="boxbody">
  <table>
  <tbody>
   <tr class='header_row'>
      <th class='header_row product noborder'>Product</th>
      <th class='header_row status noborder'>Status</th>
      <th class='header_row purl noborder'>Product URL</th>
      <th class='header_row cksum noborder'>Chksum URL</th>
      <th class='header_row note noborder'>Note</th>
   </tr>

  {% for s in scenes %}

    {% if s.name %}
    <tr class="{% cycle 'oddrow' 'evenrow' %}">

    <td class="{% cycle 'oddrow' 'evenrow' %} product noborder">
    {% if s.name == 'plot' %}   
            Plotting & Statistics
    {% else %}
         {{ s.name }}
    {% endif %}
    </td>

     <td class="{% cycle 'oddrow' 'evenrow' %} status noborder">
         {{ s.get_status_display }}
    </td>
     
    <td class="{% cycle 'oddrow' 'evenrow' %} purl noborder"> 
    {% if s.status == 'complete'%} 
         <a href="{{s.product_dload_url}}">Download</a>
    {% else %}
        &nbsp;
    {% endif %}
     </td>
    
     <td class="{% cycle 'oddrow' 'evenrow' %} cksum noborder">
     {% if s.status == 'complete' %}
        <a href="{{s.cksum_download_url}}">Checksum</a>
     {% else %}
        &nbsp;
     {% endif %}
     </td>

    
    <td class="{% cycle 'oddrow' 'evenrow' %} note noborder">
        {{ s.note }}
    </td>
    </tr>
    {% endif %}
  {% endfor %}
  </tbody>
  </table>
</div>
{% else %}
<h4>No scenes found for {{ order.orderid }}</h4>
{% endif %}
</div>

<div class="footer"></div>

<div class="spacer"></div>
{% endblock %}


{% block scripts %}

{% autoescape off %}
 
$(document).ready(function(){

    var source_products = {
        'include_source_data': 'original input products',
        'include_source_metadata': 'original input metadata',
        'include_customized_source_data': 'customized input products'
    };

    var products = {'include_sr': 'surface reflectance',
                    'include_sr_toa':'top of atmosphere',
                    'include_sr_thermal': 'brightness temperature',
                    'include_statistics': 'plots & statistics',
                    'include_dswe': 'dynamic surface water extent'};

    var indices = {'include_sr_evi': 'EVI', 'include_sr_msavi': 'MSAVI',
                   'include_sr_nbr': 'NBR', 'include_sr_nbr2': 'NBR2',
                   'include_sr_ndmi': 'NDMI', 'include_sr_ndvi': 'NDVI',
                   'include_sr_savi': 'SAVI'};

    var customization = {'reproject': 'reproject',
                         'resize': 'resize',
                         'image_extents': 'image extents', 
                         'output_format': 'output format'};

    var product_options = {{ order.product_options }};


    function populateProductCounts() {

        var product_counts = {{ order.product_counts }};

        var requested = {{ order.scene_set.count }};
        
        var completed = product_counts['complete'] +
                        product_counts['unavailable'];

        var open = product_counts['oncache'] + 
                   product_counts['queued'] + 
                   product_counts['processing'] + 
                   product_counts['error'] + 
                   product_counts['submitted'];

        var waiting = product_counts['retry'] + product_counts['onorder'];
        
        $('#requested_prods').append(requested);
        $('#completed_prods').append(completed);
        $('#open_prods').append(open);
        $('#waiting_prods').append(waiting);
    }


    function buildOutputFormatString() {
        var s = '';

        switch(product_options['output_format']) {
            case "gtiff":
                s = "geotiff";
                break;
            case "envi":
                s = "envi";
                break;
            case "hdf-eos2":
                s = "hdf-eos2";
                break;
            default:
               break;
        }
        return s;
    }

    function buildProjectionString() {

        if (! product_options['reproject'] == true) { return ''; }
        
        var s = '';

        switch(product_options['target_projection']) {
            case "aea":
                lo = product_options['origin_lat'];
                cm = product_options['central_meridian'];
                stdp1 = product_options['std_parallel_1'];
                stdp2 = product_options['std_parallel_2'];
                fe = product_options['false_easting'];
                fn = product_options['false_northing'];
                dt = product_options['datum'];

                s = "albers equal area with latitude of origin:" + lo +
                    " central meridian:" + cm + 
                    " 1st standard parallel:" + stdp1 +
                    " 2nd standard parallel:" + stdp2 +
                    " false easting:" + fe +
                    " false northing:" + fn + 
                    " datum:" + dt;
                break;
            case "utm":                
                zone = product_options['utm_zone'];
                ns = product_options['utm_north_south'];
                s = "universal transverse mercator with zone:" + zone +
                    " " + ns;
                break;
            case "lonlat":
                return "geographic";
            case "sinu":
                cm = product_options['central_meridian'];
                fe = product_options['false_easting'];
                fn = product_options['false_northing'];
                s = "sinusoidal with central meridian:" + cm +
                    " false easting:" + fe +
                    " false northing:" + fn;
                break;
            case "ps":
                lp = product_options['longitude_pole'];
                ls = product_options['latitude_true_scale'];
                fe = product_options['false_easting'];
                fn = product_options['false_northing'];
                s = "polar stereographic with longitudinal pole:" + lp +
                    " latitude true scale:" + ls + 
                    " false easting:" + fe +
                    " false northing:" + fn;
                break;
            default:
                break;
        }

        return s;

    }

    function buildExtentsString() {

        if (! product_options['image_extents'] == true) { return ''; }
       
        var ulx = product_options['minx'];
        var uly = product_options['maxy'];
        var lrx = product_options['maxx'];
        var lry = product_options['miny'];
        var s = "ulx:" + ulx + " " + "uly:" + uly + " " +
                "lrx:" + lrx + " " + "lry:" + lry;
        return s
    }

    function buildResizeString() {
        
        if (! product_options['resize'] == true) { return ''; }
        
        var s = product_options['pixel_size'] + " " +
                product_options['pixel_size_units'];
        return s;
    }

    function buildOrderedOptionString() {
        var return_list = [];
        var groups = [source_products, products, indices, customization];    
        for (g=0; g< groups.length; g++) {
            for (var item in groups[g]) {
                var value = product_options[item];
                
                var return_item = '';

                if (value == true) {
                    if (item == 'reproject') {
                        return_item = groups[g][item] + 
                                      " to " + buildProjectionString();
                    }
                    else if (item == 'resize') {
                        return_item = groups[g][item] + 
                                      " pixels to " + buildResizeString();
                    }
                    else if (item == 'image_extents') {
                        return_item = groups[g][item] + 
                                      " set to " + buildExtentsString();
                    }
                    else {
                        return_item = groups[g][item];
                    } 
                }
                else if (item == 'output_format') {
                    return_item = "Output Format is " + 
                                  buildOutputFormatString();
                }
                if (return_item.length > 0) { return_list.push(return_item); }
            }
        }
       return return_list;
    }

    function populateOrderedOptions() {
        var items = buildOrderedOptionString();

        var output = "<span class='list_label'>Requested Processing:</span><span>";

        for (i=0; i< items.length; i++) {
            if (i > 0) { output = output + ", " + items[i]; }
            else { output = output + items[i]; }
        }

        output = output + "</span>";
        $('#requested_products').append(output);
    }
    
    populateOrderedOptions();
    populateProductCounts();
});


{% endautoescape %}

{% endblock %}
{% if s.note and s.note != "''" %}
{% endif %}
