{% extends "ordering/base.html" %}


    {% block title %} Ajax Demo Page {% endblock %}
    {% block header %} Ajax Demo Page {% endblock %}
    
    {% block style %}
    
    
     .wrapper label {
          display:block-inline;
     }

     .outputbox label {
          display:block;
     }

     .formbox {
         
         margin-top:15px;
     }
    
   
    {% endblock %}

    {% block nav %}{% include "ordering/bulk_ordering_nav.html" %}{% endblock %}

    {% block content %}
    {% csrf_token %}
    
    <div class="wrapper">
    
    <h4>Ajax Demo Page</h4>
    
    <div class="formbox" id="namebox">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"></input>
    <input type="button" name="submit_get" id="submit_get" value="HTTP Get"></input>
    <input type="button" name="submit_post" id="submit_post" value="HTTP Post"></input>
    <input type="button" name="clear" id="clear" value="Clear"></input>
    </div>
    
    <div class="formbox" id="outputbox">    
    <label for="output">Output:</label>
    <textarea rows=30 cols=90 id="output"></textarea>     
    </div>
    
    </div>
<div class="footer"></div>
<div class="spacer"></div>



{% endblock %}
    
{% block scripts %}
    $(document).ready(function(){

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        /**********************************************************************
            Clear the output window
        **********************************************************************/
       $("#clear").click(function(item) {
           $("#output").html("");
       });


        /**********************************************************************
            Test POST Ajax calls
        **********************************************************************/
        $("#submit_post").click(function(item) {

            var csrftoken = $.cookie('csrftoken');

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    console.log("Setting type:" + settings.type);
                    console.log("csrfSafe:" + csrfSafeMethod(settings.type));

                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            requestdata = {};
            requestdata['name'] = $("#name").val();
 
            //console.log("Request data:" + JSON.stringify(requestdata, null, 4));

            var jqxhr = $.post("{% url 'ajax' %}",
                              requestdata,
                              function(response) {

                                  //console.log("Response data:" + JSON.stringify(response, null, 4));

                                  var resp = "====== Server Response [status:" + response.status + "] ======\n"
                                  resp = resp + "    User: " + response.user + "\n";
                                  resp = resp + "    Name: " + response.name + "\n";

                                  var output = $("#output").val();
                                  if (output.length > 0) {
                                      output = output + "\n";
                                  }
                                  output = output + resp;

                                  $("#output").html(output);
                                  //console.log( "Load was performed." );
                              });
                             

        });


        /**********************************************************************
            Test GET Ajax calls
        **********************************************************************/
        $("#submit_get").click(function(item) {

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            requestdata = {};
            requestdata['name'] = $("#name").val();
 
            //console.log("Request data:" + JSON.stringify(requestdata, null, 4));

            var jqxhr = $.get("{% url 'ajax' %}",
                              requestdata,
                              function(response) {
                                  //console.log("Response data:" + JSON.stringify(response, null, 4));
                                  var resp = "====== Server Response [status:" + response.status + "] ======\n"
                                  resp = resp + "    User: " + response.user + "\n";
                                  resp = resp + "    Name: " + response.name + "\n";

                                  var output = $("#output").val();
                                  if (output.length > 0) {
                                      output = output + "\n";
                                  }
                                  output = output + resp;

                                  $("#output").html(output);
                                  //console.log( "Load was performed." );
                              });
                             

        });


        /*
        $("#submit2").click(function(item) {
        
           var name = $("#name").val();
           
           if (name != undefined && name.length > 0) {
               $.cookie("name", name, { expires: 7 });
               $("#output").val(name);
           }
           else {
               $("#output").val($.cookie("name"));
           }
           
        });
        */


    });

{% endblock %}
       
       
   
    



