{% extends "base.html" %}

{% block title %} ESPA - Order Details {% endblock %}

{% block header %}

Details for: {{ order.orderid }}

{% endblock %}

{% block content %}
<form action="/list/" method="post">
{% csrf_token %}
<div id="wrapper">

{% if scenes %}
<h4>Details for: {{ order.orderid }}</h4>

<div class="box">
	<div class="boxhead">
	    Status: {{order.get_status_display}}
	</div>
	<div class="boxbody">
{% for s in scenes %}
    {% if s.name %}
    <div class="boxitem">
    {{s.name}} - {{s.get_status_display}} {% if s.note and s.note != "''" %} ({{s.note}}){% endif %}

    {% if s.status == 'complete'%} - <a href="{{s.product_dload_url}}">Download</a>&nbsp;&nbsp;&nbsp;<a href="{{s.source_download_url}}">Source L1T</a>{% endif %}
    </div>
    {% endif %}
{% endfor %}
</div>
</div>
{% else %}
<h4>No scenes found for {{order.orderid}}</h4>
{% endif %}
</div>
<div class="footer"></div>

<div class="spacer"></div>
{% endblock %}
