{% extends "base.html" %}

{% block title %} Enter New Order {% endblock %}
{% block header %} Enter New Order {% endblock %}
{% block style %}

	div#wrapper {
		margin:auto;
		width:800px;
	}

	span.error {
		color:red;
	}

{% endblock %}


{% block content %}
<form action="/new/" method="post" enctype="multipart/form-data"> {% csrf_token %}


<div id="wrapper">
    
    <h4>Submitting an ESPA Order</h4>
    <p>
            Submitting a new ESPA order is as simple as entering your email address 
            along with a file containing your scene list and pressing the submit button
            at the bottom of the page. For more information on creating a scene list file, 
            please refer to the 
            <a href="http://glovis.usgs.gov/ImgViewerHelp.shtml#SaveLoadSceneLists" target="blank">user guide instructions</a>
            on saving and loading scene lists for the 
            <a href="http://glovis.usgs.gov/" target="blank">USGS Global Visualization Viewer</a>.
   </p>
        
   <p>&nbsp;</p>

    {% if errors.email %}
    <span class="error">{{errors.email}}</span><br/>
    {% endif %}
    <p>
    <label for="id_email">Enter your email address:</label>
    <br/>
    {{form.email}}
    </p>
    {% if errors.file %}
    <span class="error">{{errors.file}}</span><br/>
    {% endif %}
    
    <p>
    <label>Choose scene list:</label>
    <br/>

    <input type=file name="file" size="40"/><br/>
    </p>
    
    <p>
	<input type="submit" value="Submit" />
    </p>

</div>

</form>

<div class="footer"></div>

<div class="spacer"></div>

{% endblock %}
