{% extends "ordering/base.html" %}

{% load staticfiles %}

{% block title %} Edit System Message {% endblock %}
{% block header %} Console - System Message Editor {% endblock %}

{% block style %}
    .messages { 
        color: red;
        list-style-type: none;
    }

    input#id_title {
        width:790px;
    }

    .box-margin{
        margin:30px auto;
    }

    label {
        font-weight:bold;
    }

{% endblock %}

{% block nav %}{% include 'ordering/bulk_ordering_nav.html' %}{% endblock %}

{% block content %}
<div class="wrapper">

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    <br />
    {% endif %}

    <h4>Update system message</h4>

    {{ form.non_field_errors }}

    <form method="post" action="">
        {% csrf_token %}

        <div class='box-margin'></div>

        <div id="make_public">
            {{ form.display.label_tag }}
            {{ form.display }}
            {{ form.display.errors }}
        </div>

        <div class='box-margin'></div>

        <div id="system_msg_header">
            {{ form.title.label_tag }}
            {{ form.title }}
            {{ form.title.errors }}
        </div>
        
        <div class='box-margin'></div>
        
        <div id="system_message">
            {{ form.message }}
            {{ form.message.errors }}
        </div>

        <div class='box-margin'></div>

        <div id="system_msg_submit">
             <input type="submit" value="Update" />
        </div>

    </form>

    <div class='box-margin'></div>
    <div>
        Last updated: {{ update_date }} <br />
        Updated by: {{ updated_by }}
    </div>

</div>
{% endblock %}

{% block js_files %}
    <script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
{% endblock %}


{% block scripts %}
    CKEDITOR.replace('id_message', {
        customConfig: "{% static 'js/ckeditor_status_config.js' %}"
    });
{% endblock %}

