html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

a, a:visited {
    text-decoration: none;
    color: #efefef;
}

a:hover {
    text-decoration: underline;
    color: #efefef;
}

a.command {
    color:#dd0000;
    font-size:0.75em;
}

sourcecode {
    font-family:monospace;
}

strong, .strong {
    font-weight:bold;
}

em {
    font-style:italic;
}

p {
    font-family: Georgia, Times;
    line-height: 1.3em;
    font-size: 0.938em;
    margin-bottom: 30px;
}

.hilite {
    background: #ffff88;
}

img.framed {
    border: 2px solid #ddd;
}

/*
------------------------------------------------------
headings
------------------------------------------------------
*/
h1 {
    font-size: 1.5em;
    line-height: 1.3em;
    margin-bottom: 24px;
}

h1.hilite {
    padding: 5px;
}

h2 {
    font-size: 1.667em;
    line-height: 1.3em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.333em;
    font-weight: bold;
}

h4 {
    font-size: 1em;
    font-weight: bold;
}

h4.hilite {
    padding: 5px;
}

h5 {
    font-size: 1em;
    font-weight: normal;
}

h5.hilite {
    padding: 5px;
}

/*
------------------------------------------------------
page containers
------------------------------------------------------
*/
#page_container {
    margin: 4px 16px 0px 12px;
}

#page_header {
    height: 77px;
    position: relative;
    color: #d6d6d6;
}

#page_content {
    background-color: #eaeaea;
    border-top: 1px solid #888;
}

#content_wrap {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

#content_wrap .panel {
    background-color: #f2f2f2;
}

#page_footer {
    color:#aaa;
    font-size:0.917em;
    clear:both;
    border-top:1px solid #ddd;
    padding:10px 0px 20px 0px;
}

/*
------------------------------------------------------
panel
------------------------------------------------------
*/
.panel {
    width: 320px;
    min-width: 320px;
}

/*
------------------------------------------------------
panel slider
------------------------------------------------------
*/
.slider {
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    cursor: pointer; 
    width: 9px;
    min-width: 9px;
    background-color: #ddd; 
    background-image: url('../img/arrow_left.png');
    background-repeat: no-repeat;
    background-position: center;
}

.slider:hover {
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    background-color: #cfcfcf;
    background-image: url('../img/arrow_white.png');
}

.slider.collapsed {
    background-image: url('../img/arrow_right.png');
}

.slider.collapsed:hover {
    background-color: #cfcfcf;
    background-image: url('../img/arrow_right_white.png');
}

/*
------------------------------------------------------
progress spinner
------------------------------------------------------
*/
.progress {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 2147483647;
}

.progress .background {
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.4;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; /* for ie */
    filter: alpha(opacity=40); /* for ie */
}

.progress .spinner{
    height: 46px;
    width: 46px;
    position: absolute;
    top: 40%;
    left: 50%;
    background: #ddd url('../img/spinner.gif') no-repeat 11px 11px;
    border: 1px solid #777;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    behavior: url('../css/PIE.htc');
    opacity: 0.6;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* for ie */
    filter: alpha(opacity=60); /* for ie */
}

/*
------------------------------------------------------
openlayers map
------------------------------------------------------
*/
#map {
    width: 100%;
    height: 100%;
}

/*
------------------------------------------------------
scene info panel
------------------------------------------------------
*/
#sceneInfo {
    overflow-y: auto;
}    

#sceneInfo label {
    display: block;
    margin: 6px 0px 4px 0px;
}

#sceneInfo button {
    display: block;
    margin: 8px 0;
}

#sceneInfo .searchOptions {
    margin: 10px 6px;
}

.sceneList, .sceneList table {
    font-size: 0.917em;
    padding: 4px;
}

.sceneList .group {
    margin-top: 10px;
    border: 1px solid #d1d1d1;
    background: #fafafa;
    background: #fafafa url('../img/plus.png') no-repeat 6px 9px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    behavior: url('../css/PIE.htc');
}

.sceneList .group.expanded {
    background: #fafafa url('../img/minus.png') no-repeat 6px 14px;
}

.sceneList .title {
    padding: 6px;
    font-weight: bold;
    cursor: pointer;
    color: #111;
    margin-left: 20px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.sceneList .title a {
    color: #111;
}

.sceneList .id {
    cursor: pointer;
    color: #111;
}

.sceneList .id a {
    color: #111;
}

.sceneList .detail {
    padding: 2px 2px 2px 4px;
}

.sceneList footer {
    height: 15px;
    background-image: -moz-linear-gradient(100% 100% 90deg, #eee, #fafafa);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#eee), to(#fafafa));
    background-image: linear-gradient(#fafafa, #eee);
    -pie-background-image: linear-gradient(#fafafa, #eee);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    behavior: url('../css/PIE.htc');
}

.sceneList th, .sceneList td {
    text-align: center;
    padding: 3px 5px;
}

.sceneList .id {
    text-align: left;
}

.sceneList .check {
    padding: 1px 4px 3px 1px;
}
